<div class="container-functions">
    <div class="button-upload-cv">
        <div class="container-buttons">
            <button (click)="addCv()" class="function-inactive">Agregar o actualizar cv</button>
        </div>
            <div class="container-buttons">
            <button class="function-inactive">Modificar mis curriculums</button>
        </div>
    </div>
    <div *ngIf = cvUpload>
        <div class="container-upload-cv">
            <form (submit)="uploadPhoto()">
                <input (change)="onPhotoSelected($event)" type="file" class="d-none" #photoinput>
                <div (click)="photoinput.click()" class="input-file-cv">
                    <i class="fas fa-file-pdf"></i><span>Seleccione una imagen</span> 
                </div>
                <button class="send-photo"><i class="fas fa-file-upload" [ngClass]="{'d-none': uploading}"></i><i class="fas fa-spinner fa-pulse" [ngClass]="{'d-none':!uploading}"></i></button><br>
                <span>Archivo subido con exito</span>
            </form>
        </div>
    </div>
</div>