.container-functions {
    background-color: #054A91;
    box-sizing: border-box;
    padding: 16px;
    height: auto;
    width: 100vw;
}

.container-buttons {
    flex-direction: row;
    margin: 0px 5px;
    color: white;
    display: flex;
    gap: 5px;
}

.function-inactive {
    background-color: var(--secondary-color);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 3px 8px;
    color: white;
    border: none;
}

.close-button {
    box-sizing: border-box;
    background-color: gray;
    border-radius: 50%;
    color: white;
    border: none;
}

.cv-container {
    transition: height .5s;
}

.transitionHeigth {
    transition: height .5s;
}

.blockNone {
    height: 0px;
}

.giveMeSomeHeigth {
    height: 30px;
}

.employee-search{
    background-color: var(--main-color);
    width: 100vw;
}

.button-upload-cv{
    flex-direction: row;
    display: flex;
}