<div class="container-functions">
    <div class="button-upload-cv">
        <div class="container-buttons">
            <button (click)="addCv()" class="function-inactive">Agregar cv</button>
        </div>
            <div class="container-buttons">
            <button (click)="listCv()" class="function-inactive">Mis curriculums</button>
        </div>
    </div>
    <div *ngIf = cvUpload>
        <div class="container-upload-cv">
            <form (submit)="uploadPhoto()">
                <input (change)="onPhotoSelected($event)" type="file" class="d-none" #photoinput>
                <div (click)="photoinput.click()" class="input-file-cv">
                    <i class="fas fa-file-pdf"></i><span>{{ titleCurriculum }}</span> 
                </div>
                <button class="send-photo"><i class="fas fa-file-upload" [ngClass]="{'d-none': uploading}"></i><i class="fas fa-spinner fa-pulse" [ngClass]="{'d-none':!uploading}"></i></button><br>
                <span *ngIf="successFile" class="success-file">Archivo subido con exito</span>
            </form>
        </div>
    </div>
    <div *ngIf="showCv" class="list-container">
        <div *ngFor="let curriculum of curriculums; let i=index" class="container-item">
            <div class="cv-information">
                <i class="fas fa-chevron-down click-down"></i><span>Curriculum {{ i }}</span>
            </div>
            <div class="modify-content">
                <div class="buttons-modify">
                    <button (click)="deleteCv(curriculum)"  class="delete-cv">Eliminar</button>
                    <a [href]='curriculum' class="open-cv" target="_blank">Abrir</a>
                    <form (submit)="updateCV(curriculum)">
                        <input (change)="onPhotoSelected($event)" type="file" class="d-none" #photoinput>
                        <div (click)="photoinput.click()" class="input-file-cv">
                            <i class="fas fa-file-pdf"></i><span>{{ titleCurriculumU }}</span> 
                        </div>
                        <button class="send-photo"><i class="fas fa-file-upload" [ngClass]="{'d-none': uploading}"></i><i class="fas fa-spinner fa-pulse" [ngClass]="{'d-none':!uploading}"></i></button><br>
                        <span *ngIf="successFile" class="success-file">Archivo actualizado con exito</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>