<div class="profile-company">
    <div *ngIf = "usuario" class="profile-information">
        <div class="pp-container">
            <img class="img-profile pointer" [src]=" usuario.fotoPerfil | modifyImageP ">
            <div class="name-container">
                <h1>{{ usuario.nombreCompleto | titlecase }}</h1>
                <hr>
            </div>
            <div class="option-container">
                <button class="follow-button">Seguir</button>
                <h3 class="pointer">Informacion basica</h3>
                <h3 class="pointer">Reportar</h3>
                <h3 class="pointer">Contactar</h3>
            </div>
        </div>
    </div>
    <div *ngIf = "usuario" class="profile-publications">
        <div *ngFor="let publicacion of publicaciones " class="post">
            <div class="mainI-company">
                <div class="image-container">
                    <img [src]="usuario.fotoPerfil | modifyImageP" class="post-image">
                </div>
                <div class="name_date">
                    <h4>{{ usuario.nombreCompleto | titlecase }}</h4>
                    <span>{{ publicacion.fechaPublicacion | date: 'longDate' }}</span>
                </div>
            </div>
        </div>
    </div>
</div>