.profile-company{
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
    flex-direction: row;     
    background-color: #F6F5F5;    
}

.profile-information{
    min-width: 30%;
    display: inherit;
    justify-content: center;
    height: calc(100vh - 70px);
}

.img-profile{
    max-width: 180px;
    margin: 0px auto;
    border-radius: 50%;
}

.pp-container{
    width: 100%;
    min-width: auto;
    display: inherit;
    padding-top: 30px;
    min-height: 160px;
    box-sizing: border-box;
    flex-direction: column;
}

.name-container{
    color: #F17300;
    padding-top: 5px;
    text-align: center;
    box-sizing: border-box;
}

.name-container *{
    margin: auto;
}

.name-container hr{
    width: 42px;
    border-top: 1px solid #F17300;

}

.name-container h1{
    font-weight: 400;
}

.option-container{
    margin-top: 30px;
    text-align: center;
    box-sizing: border-box;
}

.option-container h3{
    font-weight: 300;
}

.option-container h3:hover{
    font-weight: 400;
}

.follow-button{
    color: white;
    font-size: 20px;
    padding: 8px 11px;
    margin-bottom: 10px;
    border-radius: 18px;
    box-sizing: border-box;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}

.follow-button:hover{
    box-sizing: border-box;
    background-color: white;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.visible{
    display: block;
}

.no-visible{
    display: none;
}

.container-publications{
    width: 100%;
    padding: 20px 5px 0px 5px;
    max-height: 100vh;
    background-color: transparent;
}

.posts{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.post{
    width: 75%;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: white;
}

.title-publication{
    width: 75%;
}

.information-company{
    width: 100%;
    flex-wrap: wrap;
    display: inherit;
    flex-direction: row;
}

.information-company img{
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    max-height: 45px;
    max-width: 45px;
}

.information-company:nth-of-type(3){
    margin-left: auto;
}

.collapse-button{
    color: var(--secondary-color);
    margin-left: auto;
} 

.contain-apply{
    text-align: end;
}

.information-company>div:nth-of-type(1){
    padding: 0px 10px;
    box-sizing: border-box;
}