.profile-company{
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
    flex-direction: row;     
    background-color: #F6F5F5;
    font-family: 'Raleway medium';    
}

.profile-information{
    min-width: 30%;
    display: inherit;
    justify-content: center;
    height: calc(100vh - 70px);
}

.img-profile{
    max-width: 180px;
    margin: 0px auto;
    border-radius: 50%;
}

.pp-container{
    width: 100%;
    min-width: auto;
    display: inherit;
    padding-top: 30px;
    min-height: 160px;
    box-sizing: border-box;
    flex-direction: column;
}

.name-container{
    color: #F17300;
    padding-top: 5px;
    text-align: center;
    box-sizing: border-box;
}

.name-container *{
    margin: auto;
}

.name-container hr{
    width: 42px;
    border-top: 1px solid #F17300;

}

.name-container h1{
    font-weight: 400;
}

.option-container{
    margin-top: 30px;
    text-align: center;
    box-sizing: border-box;
}

.option-container h3{
    font-weight: 300;
}

.option-container h3:hover{
    font-weight: 400;
}

.follow-button{
    color: white;
    font-size: 20px;
    padding: 8px 11px;
    margin-bottom: 10px;
    border-radius: 18px;
    box-sizing: border-box;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
}

.follow-button:hover{
    box-sizing: border-box;
    background-color: white;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.visible{
    display: flex;
}

.no-visible{
    display: none;
}

.container-publications{
    width: 100%;
    min-height: auto;
    padding: 20px 5px 0px 5px;
    background-color: transparent;
}

.posts{
    height: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
}

.post{
    width: 100%;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
    box-sizing: border-box;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
}

.list-posts{
    width: 75%;
    height: 75vh;
    overflow: auto;
}

.list-posts::-webkit-scrollbar{
    width: 6px;
}

.list-posts::-webkit-scrollbar-thumb{
    background-color:var(--secondary-color);
    border-radius: 5px;
}

.title-publication{
    width: 75%;
}

.information-company{
    width: 100%;
    flex-wrap: wrap;
    display: inherit;
    flex-direction: row;
}

.information-company img{
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    max-height: 45px;
    max-width: 45px;
}

.information-company:nth-of-type(3){
    margin-left: auto;
}

.contain-apply{
    text-align: end;
}

.contain-apply button{
    color: white;
    cursor: pointer;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid transparent;
    background-color: var(--main-color);
}

.contain-apply button:disabled{
    color: white;
    cursor: pointer;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid transparent;
    background-color: #007bff
}

.contain-apply button:hover:disabled{
    color:white;
    border: 1px solid #0269d6;
    background-color: #0269d6;
}

.contain-apply button:hover{
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
}

.information-company>div:nth-of-type(1){
    padding: 0px 10px;
    box-sizing: border-box;
}

.main-infoC > span:nth-of-type(1){
    color: var(--secondary-color);
}

.main-infoC > span:nth-of-type(2){
    font-size: 12px;
}

.information-job{
    padding: 10px 0px;
}

.information-job > p{
    display: inline;
}

.title-info{
    font-weight: 300;
    color: var(--secondary-color);
}

.general-information p>span{
    color: var(--secondary-color);
}

.option-menu{
    margin: 25px 0px;
    font-size: 25px;
    text-align: center;
}

.option-menu:hover{
    font-size: 30px;
}

.collapse-menu{
    display: none;
}

@media only screen and (max-width: 635px){
    .profile-information{
        top: 0px;
        min-width: 10%;
        color: white;
        cursor: pointer;
        position: fixed;
        min-height: 100vh;        
        align-items: center;
        background-color: var(--main-color);
    }

    .collapse-menu{
        display: block;
    }

    .pp-container{
        display: none;
    }
}