<div class="profile-company">
    <div *ngIf = "usuario" class="profile-information">
        <div class="collapse-menu">
            <div (click)="visualizar('publicaciones')" class="option-menu">
                <i class="far fa-eye"></i>
            </div>
            <div (click)="visualizar('perfil')" class="option-menu">
                <i class="fas fa-info"></i>
            </div>
        </div>
        <div class="pp-container">
            <img class="img-profile pointer" [src]=" usuario.fotoPerfil | modifyImageP ">
            <div class="name-container">
                <h1>{{ usuario.nombreCompleto | titlecase }}</h1>
                <hr>
            </div>
            <div class="option-container">
                <button (click)="seguir()" class="follow-button">{{siguiendo | titlecase}}</button>
                <h3 (click)="visualizar('publicaciones')" class="pointer">Publicaciones</h3>
                <h3 (click)="visualizar('perfil')" class="pointer">Informacion basica</h3>
            </div>
        </div>
    </div>    
    <div *ngIf='usuario' class="container-publications">
        <div [ngClass]="{'visible':visualizador=='publicaciones','no-visible':visualizador!='publicaciones'}" class="posts">
            <div class="title-publication">
                <h2>Publicaciones</h2>
            </div>
            <div *ngFor="let publicacion of publicaciones" class="post">
                <div class="information-company">
                    <img [src]=" usuario.fotoPerfil | modifyImageP ">
                    <div class="main-infoC">
                        <span>{{ usuario.nombreCompleto }}</span><br>
                        <span>{{ publicacion.fechaPublicacion | date:'longDate' }}</span>                        
                    </div>
                </div>
                <div class="information-job">
                    <p><span class="title-info">Se busca:</span>{{ publicacion.titulo }}</p><br>
                    <p><span class="title-info">Sueldo:</span>{{ publicacion.cantidadPago }}</p><br>
                    <p><span class="title-info">Fecha de vencimiento:</span> {{ publicacion.fechaVencimiento | date:'longDate' }}</p><br>
                </div>
                <div class="contain-apply">
                    <button>Aplicar</button>
                </div> 
            </div>
        </div>
        <div [ngClass]="{'visible':visualizador=='perfil','no-visible':visualizador!='perfil'}" class="posts">
            <div class="post">
                <div class="general-information">
                    <p><span>Informacion empresa: </span> {{ usuario.nombreCompleto | titlecase }}</p>
                    <p><span>Fecha fundación: </span>{{usuario.fechaFundacion  | date:'longDate'}}</p>
                    <p><span>Correo: </span> {{usuario.correo}}</p>
                </div>
            </div>
        </div>  
    </div>    
</div>