<!--<div class="card w-40 ml-5 mr-5 mb-3" style="border-radius: 30px">
  <div class="card-body">
    <h5 class="card-title m-0">Médico  LPS. 30,000</h5><br>
      <i class="fa fa-map-marker-alt"> Tegucigalpa</i><br>
      <i class="fas fa-user-clock"> Disponibilidad de tiempo</i><br>
      <i class="fas fa-money-check-alt">  Pago mensual, por contrato</i><br><br>
    <a href="#" class="btn btn-primary ml-2 mr-2">Ver más...</a>
    <a href="#" class="btn btn-primary ml-2 mr-2">Aplicar</a>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-xl-12 mb-2 mt-2 h-50" *ngFor="let publicacion of publicaciones">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-10">
              <h2 class="card-title">{{publicacion.titulo}}</h2>
            </div>
            <div class="col-2 text-right">
               <h2>L {{publicacion.cantidadPago}}</h2></div>
          </div>
          <p class="card-text">{{publicacion.descripcion}}</p>
          <div class="mb-2 mt-2 d-flex">
            <div class="icon">
              <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
            </div>
            {{publicacion.ubicacion.ciudad}}, {{publicacion.ubicacion.departamento}}
            , {{publicacion.ubicacion.pais}}
          </div>
          <div class="mb-2 mt-2 d-flex">
            <div class="icon">
              <fa-icon [icon]="faCalendarCheck"></fa-icon>
            </div>
            Publicado el {{publicacion.fechaPublicacion}}
          </div>
          <div class="d-flex justify-content-end">
            <a class="btn btn-primary">Ver más</a>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>
