<div class="card w-40 ml-5 mr-5 mb-3" style="border-radius: 30px">
  <div class="card-body">
    <h5 class="card-title m-0">Médico  LPS. 30,000</h5><br>
      <i class="fa fa-map-marker-alt"> Tegucigalpa</i><br>
      <i class="fas fa-user-clock"> Disponibilidad de tiempo</i><br>
      <i class="fas fa-money-check-alt">  Pago mensual, por contrato</i><br><br>
    <a href="#" class="btn btn-primary ml-2 mr-2">Ver más...</a>
    <a href="#" class="btn btn-primary ml-2 mr-2">Aplicar</a>
  </div>
</div>
