.card-text{
    max-height: 40px;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
}

.icon{
    width: 25px;
    font-size: 20px;
    color: #f17300;
}

h2{
    font-family: 'Ramabhadra';
}

.card{
    font-family: 'Raleway medium';
}