/* You can add global styles to this file, and also import other style files */


/*------------------------Fuentes----------------*/


/*Títulos y encabezados*/

@font-face {
    font-family: "Ramabhadra";
    src: url("assets/fonts/Archivo_Black/ArchivoBlack-Regular.ttf");
}


/*Otros textos*/

@font-face {
    font-family: 'Raleway medium';
    src: url("assets/fonts/Raleway/static/Raleway-Medium.ttf")
}

@font-face {
    font-family: 'Raleway semibold';
    src: url("assets/fonts/Raleway/static/Raleway-SemiBold.ttf")
}

@font-face {
    font-family: 'Raleway bold';
    src: url("assets/fonts/Raleway/static/Raleway-Bold.ttf")
}


/*---------------------Botones----------------------*/

.btn {
    font-family: "Raleway medium";
}

.bg-light {
    background-color: #054a91 !important;
}


/*Para botones con borde transparente, sin relleno*/

.btn-outline-primary {
    border: 1px solid transparent !important;
    color: white !important;
}


/*Al hacer hover el fondo se pone blanco y la letra blanca*/

.btn-outline-primary:hover {
    background-color: white !important;
    color: #054a91 !important;
}


/*Para botones con borde naranja, sin relleno*/

.btn-outline-danger {
    border: 1px solid #f17300 !important;
    color: #f17300 !important;
}


/*Al hacer hover el fondo se pone naranja y la letra blanca*/

.btn-outline-danger:hover {
    background-color: #f17300 !important;
    color: white !important;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
    box-shadow: 0 0 0 0.2rem rgb(241 115 0 / 50%) !important;
}


/* Botones */

.btn-primary {
    border: 1px solid transparent !important;
    color: white !important;
    background-color: #054a91;
}

.btn-primary:hover {
    background-color: #f17300;
}

.btn-outline-secondary {
    background-color: var(--main-color);
    border: 1px solid transparent;
    box-sizing: border-box;
    color: white;
}

.btn-outline-secondary:hover {
    border: 1px solid var(--main-color);
    background-color: white;
    color: var(--main-color);
    box-sizing: border-box;
}


/*Otros*/

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #f17300 !important;
}

.navbar {
    font-family: "Raleway medium";
}


/*Primer bloque de landing page*/

body {
    --main-color: #054a91;
    --secondary-color: #f17300;
}

.first-block {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    height: auto;
}

.f1-left {
    width: 50vw;
    display: inherit;
    align-items: center;
}

.information {
    color: var(--main-color);
    box-sizing: border-box;
    padding: 0% 5%;
    text-align: center;
    width: 100%;
}

.information h1 {
    font-size: 2.5em;
}

.information h2 {
    font-size: 1.5em;
}

.f2-rigth {
    overflow: hidden;
    height: 90vh;
    width: 50vw;
}

.img-block {
    max-height: 100%;
}


/* Footer */

footer {
    background-color: var(--main-color);
    color: white;
    padding: 3% 5%;
    width: 100%;
    margin: 0px;
}

.link-foo {
    color: white !important;
    cursor: pointer;
}

.link-foo:hover {
    text-decoration: underline;
}

.title-footer {
    border-bottom: 1px solid white;
    font-family: "Ramabhadra";
    display: inline-block;
    margin-bottom: .5em;
}

footer ul {
    font-family: "Raleway medium";
    list-style-type: none;
    padding: 10px 0px;
    font-size: .9em;
}

.ff-div {
    display: flex;
    flex-direction: row;
}

.ff-list {
    flex-grow: 1;
}

.sf-list {
    flex-grow: 1;
}

.tf-list {
    flex-grow: 2;
}

.df-list {
    display: flex;
    flex-direction: row;
    flex-basis: 1;
}

.follow {
    color: #FFFCFCB8;
}

.svg-socialm {
    height: 25px;
    width: 25px;
}

.email-list {
    width: 100%;
}

.df-logo img {
    width: 90px;
    height: 70px;
}

.container-media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-media li {
    margin: .4em;
}

.pointer {
    cursor: pointer;
}

.ffr {
    display: none;
    color: white;
    align-content: center;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.footer-items a {
    padding: 5px;
    display: inline-block;
}


/* .rotate {
    transform: rotate(180deg);
} */


/*Slider container*/

.slider-conteiner {
    height: 80vh;
    max-height: 80vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-height: 22.5em;
    overflow: hidden;
}

.slider {
    position: relative;
    height: 100%;
    width: 100%;
}

.item-slider {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: left 1s;
}

.slider-text {
    position: absolute;
    top: 75%;
    font-family: Ramabhadra;
    background-color: black;
    width: 100%;
    height: 25%;
    color: white;
    text-align: center;
}

.slider-button {
    position: absolute;
    width: auto;
    background-color: transparent;
    border-width: 0px;
}

.icono-flecha {
    color: white;
    font-size: 2em;
}

.main-title {
    background-color: #054a9175;
}

.secondary-title {
    background-color: #f1730094;
}

.image-slider {
    height: 100%;
    overflow: hidden;
}

.image-slider img {
    width: 100%;
}

.slider-i {
    right: 0%;
}

.slider-l {
    left: -1%;
}

.fa-arrow-circle-left:hover {
    font-size: 3em;
}

.fa-arrow-circle-right:hover {
    font-size: 3em;
}

.container-empleador {
    height: auto;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1%;
    flex-direction: column;
}

.image-login {
    height: 100px;
}

.titles-container {
    color: var(--main-color);
}


/*links-footer*/

.container-links {
    height: calc(100vh - 56px);
    background-color: var(--main-color);
}

.orange-figure {
    fill: transparent;
    stroke: #F17300;
    stroke-width: 3;
}

.text-footer {
    color: white;
    position: absolute;
    box-sizing: border-box;
    padding: 1% 5%;
    font-family: 'Raleway medium';
}

@media screen and (max-width: 790px) {
    .image-slider {
        display: none;
    }
    .slider-text {
        justify-content: center;
        flex-direction: column;
        text-align: center;
        display: flex;
        height: 100%;
        top: 0px;
        padding: 5%;
    }
    .main-title {
        background-color: var(--main-color);
    }
    .secondary-title {
        background-color: var(--secondary-color);
    }
}

@media screen and (max-width: 730px) {
    .first-block {
        border-top: 1px solid white;
        padding: 1em 0em;
        background-color: var(--main-color);
        margin: 0px !important;
    }
    .f2-rigth {
        display: none;
    }
    .f1-left {
        width: 100vw;
        background-color: var(--main-color);
    }
    .information h1 {
        font-size: 1.5;
        color: white;
    }
    .information h2 {
        font-size: 1;
        color: white !important;
    }
    .btn-outline-secondary {
        border: 1px solid white;
    }
    .ff-div {
        display: none;
    }
    .df-list {
        display: none;
    }
    .ffr {
        display: flex;
    }
}

@media screen and (max-width: 360px) {
    .information h1 {
        font-size: 1em;
    }
    .information h2 {
        font-size: .7em;
    }
    .btn-outline-secondary {
        font-size: .7em;
    }
    .btn-outline-danger {
        font-size: .7em;
    }
}