/* You can add global styles to this file, and also import other style files */


/*------------------------Fuentes----------------*/


/*Títulos y encabezados*/

@font-face {
    font-family: "Ramabhadra";
    src: url("assets/fonts/Archivo_Black/ArchivoBlack-Regular.ttf");
}
/*Otros textos*/

@font-face {
    font-family: 'Raleway medium';
    src: url("assets/fonts/Raleway/static/Raleway-Medium.ttf");
}

@font-face {
    font-family: 'Raleway semibold';
    src: url("assets/fonts/Raleway/static/Raleway-SemiBold.ttf");
}

@font-face {
    font-family: 'Raleway bold';
    src: url("assets/fonts/Raleway/static/Raleway-Bold.ttf");
}


/*---------------------Botones----------------------*/

.btn {
    font-family: "Raleway medium";
}

.bg-light {
    background-color: #054a91 !important;
}


/*Para botones con borde transparente, sin relleno*/

.btn-outline-primary {
    border: 1px solid transparent !important;
    color: white !important;
}


/*Al hacer hover el fondo se pone blanco y la letra blanca*/

.btn-outline-primary:hover {
    background-color: white !important;
    color: #054a91 !important;
}


/*Para botones con borde naranja, sin relleno*/

.btn-outline-danger {
    border: 1px solid #f17300 !important;
    color: #f17300 !important;
}


/*Al hacer hover el fondo se pone naranja y la letra blanca*/

.btn-outline-danger:hover {
    background-color: #f17300 !important;
    color: white !important;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
    box-shadow: 0 0 0 0.2rem rgb(241 115 0 / 50%) !important;
}


/* Botones */

.btn-primary {
    border: 1px solid transparent !important;
    color: white !important;
    background-color: #054a91;
}

.btn-primary:hover {
    background-color: #f17300;
}

.btn-outline-secondary {
    background-color: var(--main-color);
    border: 1px solid transparent;
    box-sizing: border-box;
    color: white;
}

.btn-outline-secondary:hover {
    border: 1px solid var(--main-color);
    background-color: white;
    color: var(--main-color);
    box-sizing: border-box;
}


/*Otros*/

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #f17300 !important;
}

.navbar {
    font-family: "Raleway medium";
}

body {
    --main-color: #054a91;
    --secondary-color: #f17300;
}

.container-links {
    height: calc(100vh - 56px);
    background-color: var(--main-color);
}

.orange-figure {
    fill: transparent;
    stroke: #F17300;
    stroke-width: 3;
}

.text-footer {
    color: white;
    position: absolute;
    box-sizing: border-box;
    padding: 1% 5%;
    font-family: 'Raleway medium';
}

.pointer{
    cursor: pointer;
}

/* Scrollbar */
.mat-typography::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

    .mat-typography::-webkit-scrollbar-thumb{
    background: #f17300;
}

@keyframes rotate {
    0% {
        transform: rotate(90deg)
    }
    25% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(270deg)
    }
    100% {
        transform: rotate(3690deg)
    }
}

@keyframes fade-in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%
    }
}

@media screen and (max-width:750px) {
    .basic-form {
        --width-forms: 90%;
    }
    .basic-form input[type="text"]:focus {
        width: 100%;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}