<div class="container-basic">
    <!-- <div class="font-container"></div> -->
    <div class="basic-info">
        <div class="title-info">
            <a>Datos generales</a>
            <a>Trabajo</a>
            <img src="../../../assets/LOGOS/LOGO_AZUL_SOLO.png">
        </div>
        <div>
            <form class="basic-form">
                <input placeholder="Nombre completo">
                <input placeholder="Fecha de nacimiento">
                <input placeholder="Ingrese su numero de telefono">
                <select class="select-sex">
                    <option>Seleccione su sexo</option>
                    <option>Masculino</option>
                    <option>Femenino</option>
                </select>
                <div class="buttons-update">
                    <button class="next-button">Siguiente</button>
                    <button class="skip-button">Omitir</button>
                </div>
            </form>
        </div>
    </div>
</div>