<div class="container-basic">
    
    <div class="basic-info">
        
        <div class="title-info">
            <a class="head active-head">Datos generales</a>
            <!-- <a class="head deactive-head">Trabajo</a> -->
            <img src="../../../assets/LOGOS/LOGO_AZUL_SOLO.png" class="logo-empleadisimo">
        </div>
        <div class="row">
            <div class="col-xl-8">
                <p>
                    <ngb-alert type="danger" [ngClass]="{'visible': errorMessage, 'no-visible': !errorMessage}"> {{message}} </ngb-alert>
                    <ngb-alert type="success" [ngClass]="{'visible': successMessage, 'no-visible': !successMessage}">¡Datos actualizados correctamente! Espera unos segundos...</ngb-alert>
                </p>
            </div>
        </div>
        <!--Form para imagen-->
        <form action="" [formGroup]="uploadForm">
            <div>
                <h3 style="font-family: 'Raleway medium';">Foto de perfil</h3>
            </div>
            <div class="select-image">
                <div class="">
                    <div style="background-color: white;width: 200px; height: 200px;">    
                        <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                            <img [src]="imageURL" [alt]="uploadForm.value.name" style="width: 200px; height: 200px;">
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <input class="d-none" #inputFile type="file" accept="image/*" (change)="showPreview($event)" />
                        <div class="buttonUpload" (click)="inputFile.click()">
                            <i class="fas fa-chevron-circle-up"></i>
                            Upload
                        </div>
                    </div>
                </div>
            </div>
            
            <!--class="d-none"-->
        </form>
        <!--Form para datos-->
        <form #form class="basic-form" [formGroup]="forma" (ngSubmit)="sendInformation()">
            <p [ngClass]="{'display-block': invalidName() || this.nameV}" class="error-message">No se ingreso nombre o no es valido</p>
            <input type="text" [ngClass]="{'input-error': invalidName() || nameV}" placeholder="Ingrese su nombre completo" formControlName="name">
            <p [ngClass]="{'display-block': invalidProfesion() || phoneV}" class="error-message">No se ingreso profesion</p>
            <input #phone type="text" [ngClass]="{'input-error': invalidProfesion() || phoneV}" placeholder="Ingrese su profesion" formControlName="profesion">
            <p [ngClass]="{'display-block': invalidSex() || genderV}" class="error-message">No se selecciono ninguna opcion</p>
            <select [ngClass]="{'input-error': invalidSex() || genderV}" class="select-sex" formControlName="gender">
                        <option [defaultSelected]=true>Selecione Su genero</option>
                        <option >Masculino</option>
                        <option >Femenino</option>
                </select>
            <p [ngClass]="{'display-block': invalidBirth() || birthDateV}" class="error-message">Fecha de nacimiento no ingresada o invalida</p>
            <input [ngClass]="{'input-error': invalidBirth() || birthDateV}" type="date" placeholder="Ingrese su fecha de nacimiento" formControlName="birthDate">
            <div class="buttons-update">
                <button (onclick)="sendInformation()" class="next-button">Siguiente</button>
            </div>
        </form>
    </div>
</div>