.visible{
    display: block;
}
.no-visible{
    display: none;
}

.container-basic {
    background: linear-gradient(270deg, #FFFFFF 0%, #0E8ED1 65%);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    padding: 3%;
}

.basic-info {
    box-shadow: 0px 4px 14px 0px #000000b8;
    background-color: white;
    border-radius: 15px;
    display: inherit;
    padding: 2% 3%;
    width: 60%;
}

.title-info {
    display: inherit;
    width: 100%;
}

.basic-info {
    display: flex;
    min-width: 300px;
    flex-direction: column;
}

.title-info img {
    height: 50px;
    margin-left: auto;
}

.basic-form {
    display: flex;
    flex-direction: column;
    --height-forms: 35px;
    --width-forms: 70%;
}

.basic-form input,
select {
    border-bottom: 2px solid #00000061;
    height: var(--height-forms);
    width: var(--width-forms);
    color: #00000061;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    margin-top: 5px;
    box-sizing: border-box;
    margin: 10px 0px;
}

.input-good {
    border-bottom-color: green;
    color: green;
}

.basic-form select:focus,
input[type="date"] {
    outline: none;
}

.basic-form input[type="text"] {
    transition: width .4s;
}

.basic-form input:hover {
    border-bottom-color: var(--main-color);
}

.basic-form input[type="text"]:focus {
    outline: none;
    width: 80%;
    color: black;
}

.buttons-update {
    justify-content: flex-end;
    box-sizing: border-box;
    padding-top: 50px;
    display: flex;
    gap: 10px;
}

.next-button {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    background-color: transparent;
    border-style: solid;
    border-image: none;
    border-radius: 3px;
    border-width: 1px;
    padding: 5px;
}

.next-button:focus {
    outline: none;
}

.next-button:hover {
    background-color: var(--secondary-color);
    color: white;
}

.skip-button {
    background-color: transparent;
    color: #F1730094;
    border: none;
}

.head {
    height: 25px;
    box-sizing: border-box;
    cursor: pointer;
}

.deactive-head {
    color: #f173008a;
}

.active-head {
    color: var(--secondary-color);
    padding-right: 5px;
    margin-right: 5px;
    font-size: 16px;
}

.display-block {
    display: block !important;
}

.error-message {
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: fade-in;
    animation-duration: 1s;
    display: none;
    color: red;
    opacity: 0%;
    padding: 0;
    margin: 0;
}

.input-error {
    border-color: red !important;
}

.logo-empleadisimo {
    cursor: pointer;
}

.logo-empleadisimo:hover {
    animation-name: rotate;
    animation-duration: 1s;
}

.select-image{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.d-none{
    display: none;
}

.buttonUpload{
    padding: 10px;
    color: white;
    margin-top: 5px;
    cursor: pointer;
    max-width: 204px;
    max-height: 300px;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--main-color);
}

.buttonUpload:hover{
    background-color: #0b5aab;
}

@media only screen and (max-width: 700px) {
    .basic-info{
        width: 80%;
    }
}

@media only screen and (max-width: 400px) {
    .basic-info{
        width: 100%;
    }
}