.navbar-brand{
    color:white;
}

.nav-login{
    color: #054a91 !important;
    text-align: center;
    font-family: 'Raleway semibold';
}

.error{
    padding: 5px;
    margin:5px;  
    margin-top: 0px;
    font-size: 1rem;
    border-radius: 5px;
    color: red;
  }
  
  .input-error{
      
      border: 2px solid red;
  }


.register-link{
    color: #f17300;
    font-size: 1rem;
}

.register-link:hover{
    cursor: pointer;
    text-decoration: underline;
    
}
  