.custom-btn{
    color: white;
    font-size: 1.6rem;
}

.custom-btn:hover{
    color: #f17300;
}

.dropdown-item{
    color: #054a91;
    font-family: 'Raleway medium';
}

.dropdown-toggle::after{
    content: unset !important;
}

.error{
    padding: 5px;
    margin:5px;  
    margin-top: 0px;
    font-size: 1rem;
    border-radius: 5px;
    color: red;
  }
  
  .input-error{
      
      border: 2px solid red;
  }

.navbar-brand{
    color:white;
}

.nav-login{
    color: #054a91 !important;
    text-align: center;
    font-family: 'Raleway semibold';
}

.nav-link{
    font-size: 1rem;
}


.register-link{
    color: #f17300;
    font-size: 1rem;
}

.register-link:hover{
    cursor: pointer;
    text-decoration: underline;
    
}
  
