<nav #nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/assets/LOGOS/LOGO_BLANCO_BLANCO.png" alt="" width="60">
        <img src="/assets/LOGOS/LETRA_SOLA_BLANCA.png" alt="" width="200">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <!--
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Catálogo</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Action - 1</button>
                    <button ngbDropdownItem>Another Action</button>
                    <button ngbDropdownItem>Something else is here</button>
                </div>
            </div>
        </div>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-2 ml-2">
                <a class="nav-link" href="#">Acerca de</a>
            </li>
        </ul>-->
        <form class="form-inline my-2 my-lg-0" style="color:white">
           <!--  <span> | </span> -->
            <button class="btn btn-outline-primary my-2 my-sm-0 mr-2 ml-2" type="button" (click)="open(login)">Identifícate</button>
            <button class="btn btn-outline-danger my-2 my-sm-0 mr-2 ml-2" type="button" (click)="open(registro)">Regístrate</button>
        </form>
    </div>
</nav>


<!--Modales-->

<!--Modal del login-->
<ng-template #login let-modal>
    <div class="modal-body">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="0" style="width:50%">
                <a ngbNavLink class="nav-login">Empleador</a>
                <ng-template ngbNavContent>
                    <div class="container-empleador">
                        <div class="titles-container">
                            <img class="image-login" src="../../../assets/LOGOS/LOGO_AZUL.png">
                            <h3>Bienvenido</h3>
                            <h4>Ingresa a tu cuenta</h4>
                        </div>
                        <div class="form-container">
                            <form class="form-container">
                                <div class="container-title">
                                    <label><span>Correo electronico</span></label>
                                    <input type="correo" id="email" class="form-control">
                                </div>
                                <div>
                                    <label><span>Contraseña</span></label>
                                    <input type="password" id="contrasena" class="form-control">
                                    <a href=""><span>¿Olvidaste tu contraseña?</span></a>
                                </div>
                                <button class="btn btn-outline-secondary">Iniciar Sesion</button><br>
                                <span>¿No tienes cuenta?<a>Registrate</a></span>
                            </form>
                        </div>
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="1" style="width:50%">
                <a ngbNavLink class="nav-login">Empleado</a>
                <ng-template ngbNavContent>
                    <div class="container-empleador">
                        <div class="titles-container">
                            <img class="image-login" src="../../../assets/LOGOS/LOGO_AZUL.png">
                            <h3>Bienvenido</h3>
                            <h4>Ingresa a tu cuenta</h4>
                        </div>
                        <div class="form-container">
                            <form class="form-container">
                                <div class="container-title">
                                    <label><span>Correo electronico</span></label>
                                    <input type="correo" id="email" class="form-control">
                                </div>
                                <div>
                                    <label><span>Contraseña</span></label>
                                    <input type="password" id="contrasena" class="form-control">
                                    <a href=""><span>¿Olvidaste tu contraseña?</span></a>
                                </div>
                                <button class="btn btn-outline-secondary">Iniciar Sesion</button><br>
                                <span>¿No tienes cuenta?<a>Registrate</a></span>
                            </form>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</ng-template>


<!--Modal del registro-->

<ng-template #registro let-modal>
    <div class="modal-body">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="0" style="width:50%">
                <a ngbNavLink class="nav-login">Empleado</a>
                <ng-template ngbNavContent>
                </ng-template>
            </li>
            <li [ngbNavItem]="1" style="width:50%">
                <a ngbNavLink class="nav-login">Empresa</a>
                <ng-template ngbNavContent>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2">

        </div>
        <div class="content-fluid">
            <div class="row mt-4 mx-auto" style="width:50%; height: 200px; background-color: gray;">
                <div>
                    <img src="assets/LOGOS/LOGO_AZUL.png" style="width: 100%; height: 100%;" alt="">

                </div>
            </div>
            <div class="row mt-1 mx-auto" style="width:50%">
                <h3 class="mx-auto" style="margin-bottom: 0; color: #054a91;"><b>Bienvenido</b></h3><br>
                <p class="mx-auto" style="margin-top: 0; color: #054a91;">Crear una cuenta </p>
            </div>
            <form [formGroup]="formularioRegistro">
                <div class="row mt-3 ml-5" style="width: 80%;">
                    <label for="">Correo Electronico:</label>
                    <input formControlName="rgCorreo" [ngClass]="{'input-error': (rgCorreo?.invalid && (rgCorreo?.dirty || rgCorreo?.touched))}" class="form-control" type="text" required>
                    <div *ngIf="rgCorreo?.invalid && (rgCorreo?.dirty || rgCorreo?.touched)" class="error">
                        <span *ngIf="rgCorreo?.errors?.required">Error el campo es obligatorio</span>
                        <span *ngIf="rgCorreo?.errors?.email">debe ingresar un email</span>
                    </div>
                </div>
                <div class="row my-2 ml-5" style="width: 80%;">
                    <label for="">Contrasena:</label>
                    <input formControlName="rgPassword" class="form-control" type="password" name="">
                    <div *ngIf="rgPassword?.invalid && (rgPassword?.dirty || rgPassword?.touched)" class="error">
                        <span *ngIf="rgPassword?.errors?.required">Error el campo es obligatorio</span>
                        <span *ngIf="rgPassword?.errors?.minLength">debe tener un minimo de 6 caracteres</span>
                    </div>
                </div>
                <div class="row my-2 ml-5" style="width: 80%;">
                    <label for="">Confirmar Contrasena:</label>
                    <input formControlName="rgConfPassword" class="form-control" type="password" name="">
                </div>
                <div class="row mx-auto mt-4 mb-3" style="width: 50%;">
                    <button [disabled]="!formularioRegistro.valid" (click)="registrarUsuario()" class="form-control btn btn-primary" type="button">Registrarme</button>
                </div>

            </form>
            <div class="row ml-5" style="width: 80%;">
                <p>¿Ya tienes cuenta?<a class="btn" style="color: #f17300;">Inicia Sesion</a></p>
            </div>

        </div>
    </div>
</ng-template>