.col-form-label{
    font-family: 'Raleway semibold';
    font-size: 1rem;
}

h2{
    font-family: 'Ramabhadra';
    color: #f17300;
    font-size: 1.6rem;
    margin-bottom: 0px;
}

h3 {
    font-family: 'Raleway bold';
    color: #054a91;
    font-size: 1.2rem;;
}

.icon{
    font-size: 20px;
}

.icon:hover{
    color: #f17300;
}

.img-perfil{
    width: 40px; 
    height: 40px;
    border-radius: 50%
}

.input-error{
    box-shadow: 0 0 0 0.2rem rgba(255,0,0,50%);
}

.mat-tab-body-content{
    overflow: hidden !important;
}

.modal-text{
    font-family: 'Raleway medium';
}

.option-btn{
    padding-top: 5px;
    width: 50px !important;
    height: 45px !important;
}

.table{
    font-family: 'Raleway medium';
}

.table thead th{
    border-bottom: 1px solid gray;
}

.table td, .table th {
    border-top: 0px !important;
}

.table-responsive{
    width: 96% !important;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.table-responsive::-webkit-scrollbar{
    height: 6px;
}

.table-responsive::-webkit-scrollbar-thumb{
    background: #f17300;
    border-radius: 5px;
}
