h2{
    font-family: 'Ramabhadra';
    color: #054a91;
    font-size: 24px !important;
}

h5{
    font-family: 'Raleway bold';
    color:#054a91;
    font-size: 20px !important;
}

.benefits{
    font-family: 'Raleway bold';
}

.pros{
    font-family: 'Raleway semibold';
}

.pros-icon{
    background-color: #f17300;
    border-radius: 50%; 
    width: 200px; 
    height: 200px
}

body {
    --main-color: #054a91;
    --secondary-color: #f17300;
}

.first-block {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    height: auto;
}

.f1-left {
    width: 50vw;
    display: inherit;
    align-items: center;
}

.information {
    color: var(--main-color);
    box-sizing: border-box;
    padding: 0% 5%;
    text-align: center;
    width: 100%;
}

.information h1 {
    font-size: 2.5em;
}

.information h2 {
    font-size: 1.5em;
}

.f2-rigth {
    overflow: hidden;
    height: 90vh;
    width: 50vw;
}

.img-block {
    max-height: 100%;
}
