
<section>
    <div class="first-block mb-5">
        <div class="f1-left">
            <div class="information">
                <h1 style="font-family: 'Ramabhadra';">Sé dueño de tu futuro</h1>
                <h2 style="font-family: 'Raleway semibold';">Consigue tu trabajo soñado con un solo click <br> <span>¡Nosotros te ayudamos!</span></h2>
                <button class="btn btn-outline-secondary my-2 mt-3 my-sm-0 mr-2 ml-2" (click)="abrirModal()">Quiero contratar</button>
                <button class="btn btn-outline-danger my-2 my-sm-0 mt-3 mr-2 ml-2" (click)="abrirModal()">Quiero trabajar</button>
            </div>
        </div>
        <div class="f2-rigth">
            <img class="img-block" src="../../../assets/img/pexels-mockupeditorcom-205316 (1).jpg">
        </div>
    </div>
</section>
<app-slider></app-slider>
<!--Sección de beneficios-->

<div class="container mb-5">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center mt-4 mb-4">
            <h2>Conoce los beneficios que Empleadísimo tiene para ti</h2>
        </div>
        <div class="col-xl-6 col-lg-6 mt-4 mb-4">
            <div class="row">
                <div class="col-2">
                    <img src="assets/img/telefono-movil.png" alt="">
                </div>
                <div class="col-10 benefits">
                    Acceso a tu cuenta desde cualquier teléfono, tablet o laptop.
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 mt-4 mb-4">
            <div class="row">
                <div class="col-2">
                    <img src="assets/img/plan.png" alt="">
                </div>
                <div class="col-10 benefits">
                    Aumentan tus posibilidades de conseguir un empleo en tu área de conocimiento.
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 mt-4 mb-4">
            <div class="row">
                <div class="col-2">
                    <img src="assets/img/lucro.png" alt="">
                </div>
                <div class="col-10 benefits">
                    Ofrece tus servicios en las diferentes categorías con las que contamos.
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 mt-4 mb-4">
            <div class="row">
                <div class="col-2">
                    <img src="assets/img/crecimiento.png" alt="">
                </div>
                <div class="col-10 benefits">
                    Te postulas a un trabajo dependiendo de tu perfil, intereses y capacidades.
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 mt-4 mb-4">
            <div class="row">
                <div class="col-2">
                    <img src="assets/img/decision.png" alt="">
                </div>
                <div class="col-10 benefits">
                    Conoces más sobre la demanda laboral en tu área de conocimiento.
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 mt-4 mb-4">
            <div class="row">
                <div class="col-2">
                    <img src="assets/img/solucion.png" alt="">
                </div>
                <div class="col-10 benefits">
                    Tendrás la oportunidad de ver los requerimientos que las empresas solicitan en sus profesionales.
                </div>
            </div>
        </div>
    </div>
</div>

<!--Sección de ventajas-->

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-12 d-flex justify-content-center mt-4 mb-4">
            <h2>
                Estas son algunas ventajas que Empleadísimo te ofrece
            </h2>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-8 col-xs-8 col-12 mb-4 mt-4">
            <div class="col-12 d-flex justify-content-center">
                <div class="d-flex pros-icon">
                    <img class="d-flex mb-auto mt-auto ml-auto mr-auto" src="/assets/img/headhunter.png" alt="">
                </div>
            </div>

            <div class="col-12 text-center mt-5 mb-5">
                <h5>Fácil contratación</h5>
                <p class="pros">Te facilitamos el proceso de contratación al centralizar el perfil de los profesionales.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-8 col-xs-8 col-12 mb-4 mt-4">
            <div class="col-12 d-flex justify-content-center">
                <div class="d-flex pros-icon">
                    <img class="d-flex mb-auto mt-auto ml-auto mr-auto" src="/assets/img/employee.png" alt="">
                </div>
            </div>

            <div class="col-12 text-center mt-5 mb-5">
                <h5>Sin salir de casa</h5>
                <p class="pros">Puedes publicar o aplicar a un trabajo desde la comodidad de tu casa u oficina.</p>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-8 col-xs-8 col-12 mb-4 mt-4">
            <div class="col-12 d-flex justify-content-center">
                <div class="d-flex pros-icon">
                    <img class="d-flex mb-auto mt-auto ml-auto mr-auto" src="/assets/img/job-search.png" alt="">
                </div>
            </div>

            <div class="col-12 text-center mt-5 mb-5">
                <h5>Amplio mercado</h5>
                <p class="pros">Contamos con muchos profesionales de diferentes categorías y áreas de trabajo.</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>