<div class="container-links">
    <div class="text-footer">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi excepturi alias et blanditiis deserunt soluta cum vitae illo nesciunt reiciendis architecto eum id harum facere maiores dignissimos corporis deleniti voluptate, consequuntur sunt quam? Cumque
            enim voluptatem ipsam laudantium sapiente quas eaque officia accusantium! Fuga nostrum beatae hic quibusdam ut delectus dolore ratione dicta laboriosam, repellendus optio quas? Ullam, porro ducimus, facere optio unde perspiciatis suscipit
            doloremque consequuntur in nesciunt laudantium! Pariatur laboriosam sint atque inventore fugiat quia distinctio nobis, obcaecati aliquid, nesciunt quasi architecto dolorem numquam laborum, id nulla porro autem ea officia natus voluptatum corrupti.
            Tempore quaerat earum, vel, eaque aut eligendi ad, praesentium quis veritatis dicta quibusdam assumenda non! Accusantium, doloribus. Esse et voluptates vitae itaque doloribus ipsum vel porro molestias quidem iusto! Similique optio, recusandae
            sed voluptates, facere illum quos vitae fuga quis, odio doloremque possimus sunt officia et aut tempore quae voluptate quasi numquam molestiae tenetur autem quaerat! Laborum laudantium perspiciatis modi dolor autem, sunt corporis delectus
            quaerat. Veritatis pariatur sapiente nam officia, omnis exercitationem non. Nam consectetur, quisquam iusto nisi earum, iste corrupti aut ratione delectus facilis nostrum alias atque dolorum distinctio modi, praesentium a. Magni accusamus
            corporis reiciendis sit, quaerat dolor eaque totam odio, aut rerum, modi molestias adipisci laudantium libero numquam quidem! Et nihil quaerat excepturi molestiae labore dignissimos distinctio earum magni amet! Tempore deserunt porro minus
            expedita nam nostrum, vero qui enim autem, laboriosam fuga molestiae eos amet at. Omnis voluptate atque nam pariatur hic veritatis animi eos consequuntur voluptates quasi? Dolores illum, temporibus placeat laborum inventore dignissimos ad
            possimus asperiores veritatis voluptatem incidunt ipsam soluta eum quam consequuntur! Laboriosam praesentium enim facere numquam exercitationem in, officiis aliquid reiciendis veritatis, eos neque tenetur repellat dolores quam vel quibusdam
            porro impedit nesciunt consequuntur fuga nisi eveniet ex! Provident hic repellendus illo beatae corrupti facere at cum! Magnam laboriosam dolore odit dicta maxime, repellendus distinctio id laborum quod, rem assumenda. Nihil, ab. Pariatur
            ab cum iusto aspernatur tempore explicabo veniam, beatae autem commodi tenetur non earum, excepturi recusandae ipsa. Quas libero ipsam, quia ad consectetur architecto doloremque quasi consequatur ut optio nisi maxime reiciendis, voluptatem
            asperiores facilis animi sit aperiam unde nemo excepturi aut fugiat! Fuga optio repudiandae voluptatibus veritatis laboriosam aliquid labore pariatur, voluptates sint vel similique repellendus quidem perferendis impedit quos eligendi quae
            perspiciatis, iste quo minus totam dicta! Ad laboriosam cumque error rerum neque velit ipsam harum! Quasi eligendi illum exercitationem.
        </p>
    </div>
    <svg height="auto" width="100%">
        <circle *ngFor="let figure of figures" [attr.cx]="figure.cx" [attr.cy]="figure.cy" r="50" class = "orange-figure"/>
    </svg>
</div>