<footer>
    <div class="ff-div">
        <div class="ff-list">
            <span class="title-footer">Soporte</span>
            <div>
                <ul>
                    <li><a class="link-foo">Contactanos</a></li>
                    <li>Empleadisimo.unah@gmail.com</li>
                </ul>
            </div>
        </div>
        <div class="sf-list">
            <span class="title-footer">Politicas de privacidad</span>
            <div>
                <ul>
                    <li><a class="link-foo">Politicas de privacidad</a></li>
                    <li><a class="link-foo">Nuestros terminos</a></li>
                </ul>
            </div>
        </div>
        <div class="tf-list">
            <span class="title-footer">Nuestra empresa</span>
            <div>
                <ul>
                    <li><a class="link-foo">Nuestra mision</a></li>
                    <li><a class="link-foo">Nuestra vision</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="df-list">
        <div class="email-list">
            <span class="follow">Siguenos en nuestras redes sociales</span>
            <div>
                <ul class="container-media">
                    <li>
                        <a class="pointer"><img src="../../../assets/svg/facebook.svg" class="svg-socialm"></a>
                    </li>
                    <li>
                        <a class="pointer"><img src="../../../assets/svg/gorjeo.svg" class="svg-socialm"></a>
                    </li>
                    <li>
                        <a class="pointer"><img src="../../../assets/svg/instagram.svg" class="svg-socialm"></a>
                    </li>
                    <li>
                        <a class="pointer"><img src="../../../assets/svg/youtube.svg" class="svg-socialm"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="df-logo">
        </div>
    </div>
</footer>