<footer>
    <div class="ff-div">
        <div class="ff-list">
            <span>Soporte</span>
            <div>
                <ul>
                    <li><a class="link-foo">Contactanos</a></li>
                    <li>Empleadisimo.unah@gmail.com</li>
                </ul>
            </div>
        </div>
        <div class="sf-list">
            <span>Politicas de privacidad</span>
            <div>
                <ul>
                    <li><a class="link-foo">Politicas de privacidad</a></li>
                    <li><a class="link-foo">Nuestros terminos</a></li>
                </ul>
            </div>
        </div>
        <div class="tf-list">
            <span>Nuestra empresa</span>
            <ul>
                <li><a class="link-foo">Nuestra mision</a></li>
                <li><a class="link-foo">Nuestra vision</a></li>
            </ul>
        </div>
    </div>
    <div class="df-list">
        <div class="email-list">
            <span>Siguenos en nuestras redes sociales</span>
            <div>
                <ul>
                    <li><img src=""></li>
                    <li><img src=""></li>
                    <li><img src=""></li>
                    <li><img src=""></li>
                </ul>
            </div>
        </div>
        <div class="df-logo">

        </div>
    </div>
</footer>