<div class="container-fluid">
    <div class="row">
        <div class="col-6 d-flex mt-auto mb-3">
            <h2>Sección de empresas</h2>
        </div>
        
        <div class="col-xl-12 col-md-10 mr-auto ml-auto">
            <mat-tab-group dynamicHeight [(selectedIndex)]="activeTab">
                <!-- Todas las cuentas -->
                <mat-tab label="Todos"> 
                    <div class="row">
                        <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 col-12 d-flex">
                            <div class="form-group row w-100 mb-auto mt-auto">
                                <div class="input-group flex-nowrap pl-4 pr-2">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="addon-wrapping"><i class="fa fa-search bg-inverse"></i></span>
                                    </div>
                                    <input type="search" class="form-control input-block" placeholder="Buscar por nombre o correo electrónico" name="filter" [(ngModel)]="filter" spellcheck="false">
                                  </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <mat-paginator [length]="companies.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                        <div class="col-12 text-center mt-5" *ngIf="this.companies.length == 0">
                            <p>No se encontró ninguna cuenta de empresa.</p>
                        </div>
                        <div class="table-responsive" *ngIf="this.companies.length != 0">
                            <table class="table mr-auto ml-auto">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombre</th>
                                        <th>Correo electrónico</th>
                                        <th>Fecha de registro</th>
                                        <th>Sucursales</th>
                                        <th>Rubros</th>
                                        <th>Estado</th>
                                        <th>Publicaciones</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let company of companies  | filterCompanies : filter">
                                    <tr [ngClass]="{'table-light' : company.estado == 'activo', 'table-warning': company.estado=='bloqueado', 'table-danger': company.estado=='eliminado'}">
                                        <td style="padding-top : 4px; padding-bottom: 4px">
                                            <img [src]="'http://localhost:3000/'+ company.fotoPerfil" *ngIf="company.fotoPerfil != ''" class="img-perfil" alt="">
                                            <img src="/assets/img/usuario-sin-foto.png" *ngIf="company.fotoPerfil == ''" class="img-perfil" alt="">
                                        </td>
                                        <td>{{company?.nombreCompleto}}</td>
                                        <td>{{company?.correo}}</td>
                                        <td class="text-center">{{company?.fechaRegistro}}</td>
                                        <td class="text-center">{{company?.sucursales.length}}</td>
                                        <td class="text-center">{{company?.rubros.length}}</td>
                                        <td>{{company?.estado}}</td>
                                        <td class="option-btn text-center">
                                            <button type="button" class="btn btn-outline-dark mb-auto mt-auto" ngbTooltip="Listar publicaciones" placement="left" (click)="openXL(listPosts, company._id)">Listar</button>
                                        </td>
                                        <div class="d-flex justify-content-end" >
                                            <td class="option-btn" *ngIf="company.estado == 'bloqueado'"> 
                                                <button class="btn" style="padding: 0px" ngbTooltip="Desbloquear usuario" placement="left" (click)="unblockCompany(company._id)"> 
                                                    <fa-icon class="icon" [icon]="faUser" ></fa-icon> 
                                                </button> 
                                            </td>
                                            <td class="option-btn" *ngIf="company.estado == 'activo'"> 
                                                <button class="btn" style="padding: 0px" ngbTooltip="Bloquear usuario" placement="left" (click)="open(block, company._id)"> 
                                                    <fa-icon class="icon" [icon]="faUserAltSlash"></fa-icon>
                                                </button> 
                                            </td>
                                            <td class="option-btn" *ngIf="company.estado != 'eliminado'"> 
                                                <button class="btn" style="padding: 0px" ngbTooltip="Eliminar usuario" placement="left" (click)="open(delete, company._id)"> 
                                                    <fa-icon class="icon" [icon]="faUserTimes"></fa-icon>
                                                </button> 
                                            </td>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>    
                </mat-tab>
                <!-- Cuentas activas -->
                <mat-tab label="Cuentas activas"> 
                    <div class="row">
                        <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 col-12 d-flex">
                            <div class="form-group row w-100 mb-auto mt-auto">
                                <div class="input-group flex-nowrap pl-4 pr-2">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="addon-wrapping"><i class="fa fa-search bg-inverse"></i></span>
                                    </div>
                                    <input type="text" class="form-control input-block" placeholder="Buscar por nombre o correo electrónico" name="activeFilter" [(ngModel)]="activeFilter" spellcheck="false">
                                  </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <mat-paginator [length]="activeCompanies.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                        <div class="col-12 text-center mt-5" *ngIf="this.activeCompanies.length == 0">
                            <p>No se encontró ninguna cuenta de empresa activa.</p>
                        </div>
                        <div class="table-responsive" *ngIf="this.activeCompanies.length != 0">
                            <table class="table mr-auto ml-auto">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombre</th>
                                        <th>Correo electrónico</th>
                                        <th>Fecha de registro</th>
                                        <th>Sucursales</th>
                                        <th>Rubros</th>
                                        <th>Estado</th>
                                        <th>Publicaciones</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let company of activeCompanies | filterCompanies : activeFilter">
                                    <tr class="table-light">
                                        <td style="padding-top : 4px; padding-bottom: 4px">
                                            <img [src]="'http://localhost:3000/'+ company.fotoPerfil" *ngIf="company.fotoPerfil != ''" class="img-perfil" alt="">
                                            <img src="/assets/img/usuario-sin-foto.png" *ngIf="company.fotoPerfil == ''" class="img-perfil" alt="">
                                        </td>
                                       <td>{{company?.nombreCompleto}}</td>
                                        <td>{{company?.correo}}</td>
                                        <td class="text-center">{{company?.fechaRegistro}}</td>
                                        <td class="text-center">{{company?.sucursales.length}}</td>
                                        <td class="text-center">{{company?.rubros.length}}</td>
                                        <td>{{company?.estado}}</td>
                                        <td class="option-btn text-center">
                                            <button type="button" class="btn btn-outline-dark mb-auto mt-auto" ngbTooltip="Listar publicaciones" placement="left" (click)="openXL(listPosts, company._id)">Listar</button>
                                        </td>
                                        <div class="d-flex justify-content-end" >
                                            <td class="option-btn" *ngIf="company.estado == 'bloqueado'"> 
                                                <button class="btn" style="padding: 0px" ngbTooltip="Desbloquear usuario" placement="left" (click)="unblockCompany(company._id)"> 
                                                    <fa-icon class="icon" [icon]="faUser" ></fa-icon> 
                                                </button> 
                                            </td>
                                            <td class="option-btn" *ngIf="company.estado == 'activo'"> 
                                                <button class="btn" style="padding: 0px" ngbTooltip="Bloquear usuario" placement="left" (click)="open(block, company._id)"> 
                                                    <fa-icon class="icon" [icon]="faUserAltSlash"></fa-icon>
                                                </button> 
                                            </td>
                                            <td class="option-btn" *ngIf="company.estado != 'eliminado'"> 
                                                <button class="btn" style="padding: 0px" ngbTooltip="Eliminar usuario" placement="left" (click)="open(delete, company._id)"> 
                                                    <fa-icon class="icon" [icon]="faUserTimes"></fa-icon>
                                                </button> 
                                            </td>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </mat-tab>
                <!-- Cuentas bloqueadas -->
                <mat-tab label="Cuentas bloqueadas"> 
                    <div class="row">
                        <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 col-12 d-flex">
                            <div class="form-group row w-100 mb-auto mt-auto">
                                <div class="input-group flex-nowrap pl-4 pr-2">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="addon-wrapping"><i class="fa fa-search bg-inverse"></i></span>
                                    </div>
                                    <input type="text" class="form-control input-block" placeholder="Buscar por nombre o correo electrónico" name="blockedFilter" [(ngModel)]="blockedFilter" spellcheck="false">
                                  </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <mat-paginator [length]="blockedCompanies.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                        <div class="col-12 text-center mt-5" *ngIf="this.blockedCompanies.length == 0">
                            <p>No se encontró ninguna cuenta de empresa bloqueada.</p>
                        </div>
                        <div class="table-responsive" *ngIf="this.blockedCompanies.length != 0">
                            <table class="table mr-auto ml-auto">
                                <thead>
                                    <tr>
                                         <th></th>
                                        <th>Nombre</th>
                                        <th>Correo electrónico</th>
                                        <th>Fecha de registro</th>
                                        <th>Sucursales</th>
                                        <th>Rubros</th>
                                        <th>Estado</th>
                                        <th>Publicaciones</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let company of blockedCompanies | filterCompanies : blockedFilter">
                                    <tr class="table-light">
                                        <td style="padding-top : 4px; padding-bottom: 4px">
                                            <img [src]="'http://localhost:3000/'+ company.fotoPerfil" *ngIf="company.fotoPerfil != ''" class="img-perfil" alt="">
                                            <img src="/assets/img/usuario-sin-foto.png" *ngIf="company.fotoPerfil == ''" class="img-perfil" alt="">
                                        </td>
                                       <td>{{company?.nombreCompleto}}</td>
                                        <td>{{company?.correo}}</td>
                                        <td class="text-center">{{company?.fechaRegistro}}</td>
                                        <td class="text-center">{{company?.sucursales.length}}</td>
                                        <td class="text-center">{{company?.rubros.length}}</td>
                                        <td>{{company?.estado}}</td>
                                        <td class="option-btn text-center">
                                            <button type="button" class="btn btn-outline-dark mb-auto mt-auto" ngbTooltip="Listar publicaciones" placement="left" (click)="openXL(listPosts, company._id)">Listar</button>
                                        </td>
                                        <div class="d-flex justify-content-end" >
                                            <td class="option-btn" *ngIf="company.estado == 'bloqueado'"> 
                                                <button class="btn" style="padding: 0px" ngbTooltip="Desbloquear usuario" placement="left" (click)="unblockCompany(company._id)"> 
                                                    <fa-icon class="icon" [icon]="faUser" ></fa-icon> 
                                                </button> 
                                            </td>
                                            <td class="option-btn" *ngIf="company.estado == 'activo'"> 
                                                <button class="btn" style="padding: 0px" ngbTooltip="Bloquear usuario" placement="left" (click)="open(block, company._id)"> 
                                                    <fa-icon class="icon" [icon]="faUserAltSlash"></fa-icon>
                                                </button> 
                                            </td>
                                            <td class="option-btn" *ngIf="company.estado != 'eliminado'"> 
                                                <button class="btn" style="padding: 0px" ngbTooltip="Eliminar usuario" placement="left" (click)="open(delete, company._id)"> 
                                                    <fa-icon class="icon" [icon]="faUserTimes"></fa-icon>
                                                </button> 
                                            </td>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>    
                </mat-tab>
                <!-- Cuentas eliminadas -->
                <mat-tab label="Cuentas eliminadas"> 
                    <div class="row">
                        <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 col-12 d-flex">
                            <div class="form-group row w-100 mb-auto mt-auto">
                                <div class="input-group flex-nowrap pl-4 pr-2">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="addon-wrapping"><i class="fa fa-search bg-inverse"></i></span>
                                    </div>
                                    <input type="text" class="form-control input-block" placeholder="Buscar por nombre o correo electrónico" name="deletedFilter" [(ngModel)]="deletedFilter" spellcheck="false">
                                  </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <mat-paginator [length]="deletedCompanies.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                        <div class="col-12 text-center mt-5" *ngIf="this.deletedCompanies.length == 0">
                            <p>No se encontró ninguna cuenta de empresa eliminada.</p>
                        </div>
                        <div class="table-responsive" *ngIf="this.deletedCompanies.length != 0">
                            <table class="table mr-auto ml-auto">
                                <thead>
                                    <tr>
                                         <th></th>
                                        <th>Nombre</th>
                                        <th>Correo electrónico</th>
                                        <th>Fecha de registro</th>
                                        <th>Sucursales</th>
                                        <th>Rubros</th>
                                        <th>Estado</th>
                                        <th>Publicaciones</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let company of deletedCompanies | filterCompanies : deletedFilter">
                                    <tr class="table-light">
                                        <td style="padding-top : 4px; padding-bottom: 4px">
                                            <img [src]="'http://localhost:3000/'+ company.fotoPerfil" *ngIf="company.fotoPerfil != ''" class="img-perfil" alt="">
                                            <img src="/assets/img/usuario-sin-foto.png" *ngIf="company.fotoPerfil == ''" class="img-perfil" alt="">
                                        </td>
                                       <td>{{company?.nombreCompleto}}</td>
                                        <td>{{company?.correo}}</td>
                                        <td class="text-center">{{company?.fechaRegistro}}</td>
                                        <td class="text-center">{{company?.sucursales.length}}</td>
                                        <td class="text-center">{{company?.rubros.length}}</td>
                                        <td>{{company?.estado}}</td>
                                        <td class="option-btn text-center">
                                            <button type="button" class="btn btn-outline-dark mb-auto mt-auto" ngbTooltip="Listar publicaciones" placement="left" (click)="openXL(listPosts, company._id)">Listar</button>
                                        </td>
                                        <div class="d-flex justify-content-end" >
                                            <td class="option-btn" *ngIf="company.estado == 'bloqueado'"> 
                                                <button class="btn" style="padding: 0px" ngbTooltip="Desbloquear usuario" placement="left" (click)="unblockCompany(company._id)"> 
                                                    <fa-icon class="icon" [icon]="faUser" ></fa-icon> 
                                                </button> 
                                            </td>
                                            <td class="option-btn" *ngIf="company.estado == 'activo'"> 
                                                <button class="btn" style="padding: 0px" ngbTooltip="Bloquear usuario" placement="left" (click)="open(block, company._id)"> 
                                                    <fa-icon class="icon" [icon]="faUserAltSlash"></fa-icon>
                                                </button> 
                                            </td>
                                            <td class="option-btn" *ngIf="company.estado != 'eliminado'"> 
                                                <button class="btn" style="padding: 0px" ngbTooltip="Eliminar usuario" placement="left" (click)="open(delete, company._id)"> 
                                                    <fa-icon class="icon" [icon]="faUserTimes"></fa-icon>
                                                </button> 
                                            </td>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </mat-tab>
              </mat-tab-group>
        </div>
    </div>
    
</div>

<!-- Lista de publicaciones -->
<ng-template #listPosts let-modal>
    <div class="modal-body">
        <div class="row">
            <div class="col-6">
                <h3>Empresa <strong>{{nameCompany}}</strong></h3>
            </div>
            <div class="col-6" >
                <h4 style="font-family: 'Raleway medium'"><strong> {{posts.length}} publicaciones realizadas</strong></h4>
            </div>
        </div>
        <div class="seccion-publicaciones">
         <div *ngIf="posts.length == 0" class="text-center">Aún no se han realizado publicaciones de trabajo.</div>   
        <div *ngFor="let post of posts; index as i">
            <button class="accordion" [ngClass]="{'d-block': selectedPost != i, 'd-none' : selectedPost == i}" (click)="selectedPost = i">{{post.titulo}}</button>
            <button class="accordion active" [ngClass]="{'d-block': selectedPost == i, 'd-none' : selectedPost != i}" (click)="selectedPost = -1">{{post.titulo}}</button>
                <div class="panel" [ngClass]="{'d-block': selectedPost == i, 'd-none': selectedPost != i}">
                    <div style="font-family: 'Raleway medium';">
                        <p>{{post.descripcion}}</p>
                        <br>
                        <div class="row mb-2">
                            <div class="d-flex col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2">
                                <div class="icon-posts text-center"> <fa-icon [icon]="faMapMarkerAlt"></fa-icon> </div>
                                <strong> {{post.ubicacion?.ciudad}}, {{post.ubicacion?.departamento}}, {{post.ubicacion?.pais}} </strong>
                            </div>
                            <div class="d-flex col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2">
                                <div class="icon-posts text-center"> <fa-icon [icon]="faUsers"></fa-icon> </div> <strong>{{post.usuarios.length}} aplicantes </strong> 
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="d-flex col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2">
                                <div class="icon-posts text-center"> <fa-icon [icon]="faCalendarCheck"></fa-icon> </div> <strong>Publicado el 
                                    {{post?.fechaPublicacion | slice:0:10}} </strong> 
                            </div>
                            <div class="d-flex col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2">
                                <div class="icon-posts text-center"> <fa-icon [icon]="faCalendarTimes"></fa-icon> </div> <strong> Vence el {{post?.fechaVencimiento | slice:0:10}} </strong> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="modal.close()">Cerrar</button>
    </div>
  </ng-template>

<!-- Advertencia de bloquear usuario -->
<ng-template #block let-modal>
    <div class="modal-body">
        <p class="modal-text">
            Al bloquear un usuario este no podrá iniciar sesión en el sitio, ¿deseas continuar?
        </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="blockCompany()">Sí, bloquear</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close()">Cerrar</button>
    </div>
  </ng-template>

<!-- Advertencia de eliminar usuario -->

  <ng-template #delete let-modal>
    <div class="modal-body">
        <p class="modal-text">
            Una vez eliminado, el usuario ya no tendrá acceso a su cuenta, ¿deseas continuar?
        </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="deleteCompany()">Sí, eliminar</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close()">Cerrar</button>
    </div>
  </ng-template>

