<div class="container mb-5">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center mt-4 mb-4">
            <h2>Conoce los beneficios que Empleadísimo tiene para ti</h2>
        </div>
        <div class="col-xl-6 col-lg-6 mt-4 mb-4">
            <div class="row">
                <div class="col-2">
                    <img src="assets/img/telefono-movil.png" alt="">
                </div>
                <div class="col-10 benefits">
                    Acceso a tu cuenta desde cualquier teléfono, tablet o laptop.
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 mt-4 mb-4">
            <div class="row">
                <div class="col-2">
                    <img src="assets/img/plan.png" alt="">
                </div>
                <div class="col-10 benefits">
                    Aumentan tus posibilidades de conseguir un empleo en tu área de conocimiento.
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 mt-4 mb-4">
            <div class="row">
                <div class="col-2">
                    <img src="assets/img/lucro.png" alt="">
                </div>
                <div class="col-10 benefits">
                    Ofrece tus servicios en las diferentes categorías con las que contamos.
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 mt-4 mb-4">
            <div class="row">
                <div class="col-2">
                    <img src="assets/img/crecimiento.png" alt="">
                </div>
                <div class="col-10 benefits">
                    Te postulas a un trabajo dependiendo de tu perfil, intereses y capacidades.
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 mt-4 mb-4">
            <div class="row">
                <div class="col-2">
                    <img src="assets/img/decision.png" alt="">
                </div>
                <div class="col-10 benefits">
                    Conoces más sobre la demanda laboral en tu área de conocimiento.
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 mt-4 mb-4">
            <div class="row">
                <div class="col-2">
                    <img src="assets/img/solucion.png" alt="">
                </div>
                <div class="col-10 benefits">
                    Tendrás la oportunidad de ver los requerimientos que las empresas solicitan en sus profesionales.
                </div>
            </div>
        </div>
    </div>
</div>