<section>
    <div class="first-block mb-5">
        <div class="f1-left">
            <div class="information">
                <h1>Sé dueño de tu futuro</h1>
                <h2>Consigue tu trabajo soñado con un solo click <span>¡Nosotros te ayudamos!</span></h2>
                <button class="btn btn-outline-secondary my-2 mt-3 my-sm-0 mr-2 ml-2">Quiero contratar</button>
                <button class="btn btn-outline-danger my-2 my-sm-0 mt-3 mr-2 ml-2">Quiero trabajar</button>
            </div>
        </div>
        <div class="f2-rigth">
            <img class="img-block" src="../assets/img/desktop_white.jpg">
        </div>
    </div>
</section>