.container{
    font-family: 'Raleway medium';
}

.description{
    font-size: 1rem;
}

.error-message{
    color:red;
}

h1{
    font-family: 'Ramabhadra';
    margin-bottom: 0px;
}

h2{
    font-family: 'Raleway bold';
    margin-bottom: 10px;
}

.icon{
    font-size: 1.2rem;
}

.img-perfil{
    width: 40px; 
    height: 40px;
    border-radius: 50%
}

.icon:hover{
    color:#f17300;
}

.items{
    font-size: 1rem;
    padding-left: 15px;
    border-left: 5px solid #f17300;
}

label{
    font-family: 'Raleway medium';
}

.modal-text{
    font-family: 'Raleway medium';
    font-size: 1.1rem;
}

.modal-title{
    color: #054a91
}

.nav-link{
    color: #054a91 !important;
}

.nav-link:hover{
    color: #f17300 !important;
}

.table-responsive{
    max-height: 500px;
    overflow: auto;
}

.table-responsive::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

.table-responsive::-webkit-scrollbar-thumb{
    color:#f17300;
    border-radius: 5px;
}