.container-basic {
    background: linear-gradient(270deg, #FFFFFF 0%, #f17b0d 65%);
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    padding: 3%;
}
.visible{
    display: block;
}
.no-visible{
    display: none;
}