<div class="container-basic">
    <div class="basic-info">
        <div class="container-form">
            <div class="container-photo">
                <div class="title-info">
                    <a class="head active-head">Datos generales</a>
                </div>
                <form action="" [formGroup]="uploadForm">
                    <div style="background-color: white;width: 200px; height: 200px;">
                        <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                            <img [src]="imageURL" [alt]="uploadForm.value.name" class="imgP">
                          </div>
                    </div>
                    <div class="button-file" (click)="inputFileC.click()">
                        <i class="fas fa-chevron-circle-up"></i>
                        Upload
                    </div>
                    <div>
                        <input #inputFileC type="file" class="input-file" accept="image/*" (change)="showPreview($event)" />
                    </div>
                </form> 
            </div>
            <div>
                <p>
                    <ngb-alert type="danger" [ngClass]="{'visible': errorMessage, 'no-visible': !errorMessage}">¡Ups! El formulario no se ha completado</ngb-alert>
                    <ngb-alert type="danger" [ngClass]="{'visible': noPicture, 'no-visible': !noPicture}">Se debe selecionar una foto de perfil!</ngb-alert>
                    <ngb-alert type="success" [ngClass]="{'visible': successMessage, 'no-visible': !successMessage}">¡Datos actualizados correctamente! Espera unos segundos...</ngb-alert>
                </p>
                <div class="container-fluid basic-form">
                    <form [formGroup]="forma">
                        <div>
                            <div >
                                <p [ngClass]="{'display-block': invalidName()}" class="error-message">No se ingreso nombre o no es valido</p>
                                <input type="text" [ngClass]="{'input-error': invalidName()}" placeholder="Ingrese el nombre de la empresa" formControlName="name">
                            </div>
                        </div>
                        <div>
                            <label for="">Fecha de Fundacion:</label>
                        </div>
                        <div>
                            <div>
                                <p [ngClass]="{'display-block': invalidFechaFundacion()}" class="error-message">Ingrese su fecha de Fundacion</p>
                                <input [ngClass]="{'input-error': invalidFechaFundacion()}" type="date"  formControlName="fechaFundacion">
                            </div>
                        </div>
                        <div>
                            <input type="text" name="" placeholder="Ingrese Rubros ejemplo: Carpinteria, Fontaneria, Automovilismo" formControlName="rubros">
                        </div>
                    </form>
                        <form action="" [formGroup]="sucursalForm">
                            <div>
                                <div class="col-6 p-0"><label for="" style="font-size:1rem">Agrega una sucursal:</label>  </div>
                                <div class="col-4 p-0">
                                    <button [ngClass]="{'visible':!agregarSucursal, 'no-visible':agregarSucursal}" (click)="agregarSucursal=!agregarSucursal" class="btn btn-primary-outline"><fa-icon  size="1x" [icon]="faPlus"></fa-icon> </button>
                                    <button [ngClass]="{'visible':agregarSucursal, 'no-visible':!agregarSucursal}" (click)="formarSucursal()" class="btn btn-primary-outline"><fa-icon  size="1x" [icon]="faCheck"></fa-icon> </button>
                                </div>
                            </div>
                            <div [ngClass]="{'visible':!agregarSucursal,'no-visible':agregarSucursal}">
                                <div class="row" *ngFor="let sucursal of usuario.sucursales; let i=index">
                                    <div class="p-0 py-2  col-6">
                                        <label for="">{{sucursal.pais}} {{sucursal.departamento}}  {{sucursal.descripcion}}</label> 
                                    </div>
                                    <div class="col-2 p-0">
                                        <button class="btn btn-primary-outline" (click)="editSucursal(i)"><fa-icon class="button btn-primary-outline" size="1x" [icon]="faEdit"></fa-icon>  </button>
                                        <button class="btn btn-primary-outline"  (click)="deleteSucursal(i)" ><fa-icon class="button btn-primary-outline" size="1x" [icon]="faTrash"></fa-icon>   </button>
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{'visible':agregarSucursal,'no-visible':!agregarSucursal}">                          
                                <div class="container-bOffice">
                                    <div class="col-3 p-0" >
                                        <input type="text" name="" id="" placeholder="Pais"  formControlName="pais" >
                                    </div>
                                    <div class="col-3 p-0" >
                                        <input type="text" name="" id="" placeholder="Departamento" formControlName="departamento"> 
                                    </div>
                                    <div class="col-3 p-0"  >
                                        <input type="text" name="" id="" placeholder="Ciudad" formControlName="ciudad">
                                    </div>
                                    <div class="col-12 p-0"  >
                                        <input type="text" placeholder="Referencia de direccion" formControlName="descripcion">
                                    </div>  
                                </div>
                            </div>
                        </form>
                        <div>
                            <div class="buttons-update">
                                <button class="next-button" (click)="actualizarPerfil()">Actualizar Informacion</button>
                            </div>
                    </div>
                </div>
            </div>                
        </div>
    </div>
</div>