.container-basic {
    padding: 3%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg,#FFFFFF 0%, var(--secondary-color) 65%);
}

.visible{
    display: block;
}

.no-visible{
    display: none;
}

.visible{
    display: block;
}

.no-visible{
    display: none;
}


.basic-info {
    width: 60%;
    padding: 2% 3%;
    display: inherit;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 4px 14px 0px #000000b8;
}

.title-info {
    width: 100%;
    display: inherit;
}

.basic-info {
    display: flex;
    flex-direction: column;
}

.title-info img {
    height: 50px;
    margin-left: auto;
}

.basic-form {
    display: flex;
    flex-direction: column;
    --height-forms: 35px;
    --width-forms: 70%;
}

.basic-form input,
select {
    border-top: 0px;
    margin-top: 5px;
    border-left: 0px;
    margin: 10px 0px;
    border-right: 0px;
    color: #00000061;
    box-sizing: border-box;
    width: var(--width-forms);
    height: var(--height-forms);
    border-bottom: 2px solid #00000061;
}

.input-good {
    color: green;
    border-bottom-color: green;
}

.basic-form select:focus,
input[type="date"] {
    outline: none;
}

.basic-form input[type="text"] {
    transition: width .4s;
}

.basic-form input:hover {
    border-bottom-color: var(--main-color);
}

.basic-form input[type="text"]:focus {
    width: 80%;
    outline: none;
    color: black;
}

.buttons-update {
    gap: 10px;
    display: flex;
    padding-top: 50px;
    box-sizing: border-box;
    justify-content: flex-end;
}

.next-button {
    padding: 5px;
    border-width: 1px;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    color: var(--secondary-color);
    background-color: transparent;
    border-color: var(--secondary-color);
}

.next-button:focus {
    outline: none;
}

.next-button:hover {
    color: white;
    background-color: var(--secondary-color);
}

.skip-button {
    border: none;
    color: #F1730094;
    background-color: transparent;
}

.head {
    height: 25px;
    cursor: pointer;
    box-sizing: border-box;
}

.deactive-head {
    color: #f173008a;
}

.active-head {
    font-size: 16px;
    margin-right: 5px;
    padding-right: 5px;
    color: var(--secondary-color);
}

.display-block {
    display: block !important;
}

.error-message {
    margin: 0;
    padding: 0;
    opacity: 0%;
    color: red;
    display: none;
    animation-duration: 1s;
    animation-name: fade-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.input-error {
    border-color: red !important;
}

.logo-empleadisimo {
    cursor: pointer;
}

.logo-empleadisimo:hover {
    animation-name: rotate;
    animation-duration: 1s;
}

.container-form{
    display: flex;
    flex-direction: column;
}

.container-photo{
    width: 100%;
}

.input-file{
    display: none;
}

.button-file{
    display: flex;
    color: white;
    max-width: 40%;
    cursor: pointer;
    min-width: 10px;
    min-height: 39px;
    border-radius: 5px;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 0px 10px;
    background-color: var(--secondary-color);
}

.button-file i{
    margin-right: 5px;
}

.button-file:hover{
    background-color: #ff942e;
}

.container-bOffice{
    display: flex;
    flex-wrap: wrap;
}

.imgP{
    width: 200px;
    height: 200px;
    margin-right: 10px;
}

@media only screen and (max-width: 1000px) {
    .basic-info {
      width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    .basic-info {
      width: 90%;
    }
}