<div class="container-basic">
    <div class="basic-info">
        <div class="title-info">
            <a class="head active-head">Datos generales</a>
            <!-- <a class="head deactive-head">Trabajo</a> -->
            <img src="../../../assets/LOGOS/LOGO_AZUL_SOLO.png" class="logo-empleadisimo">
        </div>
        <div class="row">
            <div class="col-8">

                <div class="container-fluid basic-form">
                    <form [formGroup]="forma" >
                    <div class="row">
                        <div class="col-8 p-0">
                            <p [ngClass]="{'display-block': invalidName()}" class="error-message">No se ingreso nombre o no es valido</p>
                            <input type="text" [ngClass]="{'input-error': invalidName()}" placeholder="Ingrese el nombre de la empresa" formControlName="name">
                        </div>
                        
                    </div>
                    <!-- <div class="row mb-4">
                        <div class="col-8 p-0">
                            <p [ngClass]="{'display-block': invalidPhone()}" class="error-message">No se ingreso numero o no es valido</p>
                            <input #phone type="text" (keyup)="formatPhone(phone)" [ngClass]="{'input-error': invalidPhone()}" placeholder="Ingrese su numero de telefono" formControlName="phone"> 
                        </div>
                    </div> -->
                    <div class="row mb-0 mt-4">
                        <label for="">Fecha de Fundacion:</label>
                    </div>
                    <div class="row">
                        <div class="col-8 p-0">
                            <p [ngClass]="{'display-block': invalidFechaFundacion()}" class="error-message">Ingrese su fecha de Fundacion</p>
                            <input [ngClass]="{'input-error': invalidFechaFundacion()}" type="date"  formControlName="fechaFundacion">
                        </div>
                       
                    </div>
                    <div class="row">
                        <input type="text" name="" placeholder="Ingrese Rubros ejemplo: Carpinteria, Fontaneria, Automovilismo" formControlName="rubros">
                    </div>
                    </form>
                    <form action="">
                    <div class="row mt-4" >
                        <label for="" style="font-size:1rem">Agrega una sucursal: <button (click)="agregarSucursal=!agregarSucursal" class="btn btn-primary-outline"><fa-icon class="button btn-primary-outline" size="1x" [icon]="faPlus"></fa-icon> </button>  </label> 
                    </div>
                    <div [ngClass]="{'visible':!agregarSucursal,'no-visible':agregarSucursal}">
                        <div class="row">
                            <div class="p-0 py-2  col-6">
                                <label for="">Honduras, Francisco Morazan, Tegucigalpa Frente a la Unah</label> 
                            </div>
                            <div class="col-2 p-0">
                                <button class="btn btn-primary">Editar</button>
                            </div>
                             
                        </div>
                        
                    </div>
                    <div [ngClass]="{'visible':agregarSucursal,'no-visible':!agregarSucursal}">
    
                        <div  class="row" >
                            <div class="col-3 p-0" >
                                <input type="text" name="" id="" placeholder="Pais">
                            </div>
                            <div class="col-3 p-0" >
                                <input type="text" name="" id="" placeholder="Departamento">
                            </div>
                            <div class="col-3 p-0"  >
                                <input type="text" name="" id="" placeholder="Ciudad">
                            </div>
                            <div class="col-12 p-0"  >
                                <input type="text" placeholder="Referencia de direccion">
                            </div>
                            
                        </div>
                    </div>
                    
    
                    </form>
                    <div class="row">
                        <div class="buttons-update">
                            <button class="next-button" (click)="actualizarPerfil()" >Actualizar Informacion</button>
                            <button class="skip-button">Omitir</button>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-4">
                <form action="" [formGroup]="uploadForm">
                    <div style="background-color: white;width: 200px; height: 200px;">
                        <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                            <img [src]="imageURL" [alt]="uploadForm.value.name" style="width: 200px; height: 200px;">
                          </div>
                    </div>
                    <div class="row">
                        Cargar nueva foto:
                    </div>
                    <div class="row">
                        <input type="file" accept="image/*" (change)="showPreview($event)" />
                    </div>
                </form>
                
                
            </div>

        </div>
    </div>
</div>