<div class="chat-container">
    <div class="container-padding">
        <div class="title-container">
            <div class="pp-main">
                <img class="contact-pp" src="../../../assets/img/1.jpg">
            </div>
            <div class="mm-container">
                <h1>Mis mensajes</h1>
            </div>
        </div>
        <div class="contact-container">
            <div *ngFor="let user of users" class="contact pointer">
                <button (click)="changeMessage(user)" class="buttonUser">
                    <div class="contact-profile">
                        <img class="contact-pp" [src]="user['fotoPerfil'] | modifyImage">
                    </div>
                    <div class="information-contact">
                        <span>{{ user['nombreCompleto'] | titlecase }}</span>
                        <span>Lorem ipsum dolor sit...</span>
                    </div>
                </button><br>
                <hr>
            </div>        
        </div>
    </div>
    <div class="noContact" [ngClass]="{'d-block' : actualName == '', 'd-none' : actualName != ''}">
    </div>
    <div class="message-container" [ngClass]="{'d-block' : actualName != '', 'd-none' : actualName == ''}">
        <div class="ppc pointer">
            <img class="contact-pp" [src]=" actualPhoto | modifyImage">
            <p>{{ actualName | titlecase }}</p>
        </div>
        <div class="messages">
            <div class="messages-container">
                <div *ngFor="let message of actualMessages.slice().reverse()" class="mess" [class.sendit] = "myId == message['idUser']" [class.reciveit] = "myId != message['idUser']">
                    <div class="ms">
                        <p>{{ message['content'] }}</p>
                    </div>
                    <div class="hour-content">
                        <span>{{ message['hour'] }}</span>
                    </div>
                </div>
            </div>
            <div class="send-message pointer">
                <input name="input-message" #inputMessage type="text" placeholder="Escriba un mensaje" class="input-message">
                <button (click) = "sendMessage(inputMessage.value)" class="send-button" >S</button>
            </div>
        </div>
    </div>
</div>