.navbar {
    background-color: var(--primary-color);
    width: 100vw;
    height: 10vh;
}

.chat-container {
    flex-direction: row;
    display: flex;
    height: 90vh;
}

.contact-container {
    background-color: rgb(196, 196, 196, .40);
    box-sizing: border-box;
    overflow-y: scroll;
    height: 90vh;
    width: 40vw;
}

.contact-container::-webkit-scrollbar-track {
    background-color: red;
    color: red;
}

.message-container {
    background-color: rgb(196, 196, 196, .40);
    height: 90vh;
    width: 60vw;
}

.ppc {
    background-color: var(--secondary-color);
    box-sizing: border-box;
    align-items: center;
    padding: 0px 10px;
    display: flex;
    height: 10%;
}

.contact-pp {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.messages {
    height: 90%;
    box-sizing: border-box;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.input-message {
    box-sizing: border-box;
    padding: 0px;
    height: 40px;
    margin: 0px;
    width: 100%;
    padding: 0px 7px;
    border-radius: 16px;
    border: 1px solid #0000004a;
    color: #0000004a;
}

.messages-container {
    flex-direction: column-reverse;
    background-color: transparent;
    height: calc(100% - 40px);
    overflow-y: scroll;
    display: flex;
    width: 100%;
}

.mess {
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 3px 10px;
    margin: 5px 0px;
    color: white;
    max-width: 45%;
    display: flex;
}

.sendit {
    background-color: var(--primary-color);
}

.reciveit {
    background-color: var(--secondary-color);
    align-self: flex-end;
}

.ms>p {
    padding: 0px;
    margin: 0px;
}

.hour-content {
    display: inherit;
    justify-content: flex-end;
}

.hour-content {
    font-size: 10px;
}

.contact {
    align-items: center;
    min-height: 10%;
    display: flex;
}

.information-contact {
    box-sizing: border-box;
    padding: 0px 10px;
    width: 100%;
}

.information-contact p {
    padding: 0px;
    margin: 0px;
}