<div class="chat-container">
    <div class="contact-container">
        <div *ngIf="informationChat" class="contact pointer">
            <div class="contact-profile">
                <img class="contact-pp" [src]=" actualPhoto | modifyImage">
            </div>
            <div class="information-contact">
                <span>{{ actualName }}</span>
                <p>Lorem, ipsum dolor.</p>
            </div>
        </div>
        <div *ngFor="let user of users" class="contact pointer">
            <button (click)="changeMessage(user)" class="buttonUser">
                <div class="contact-profile">
                    <img class="contact-pp" [src]="user['fotoPerfil'] | modifyImage">
                </div>
                <div class="information-contact">
                    <span>{{ user['nombreCompleto'] }}</span>
                </div>
            </button>
        </div>        
    </div>
    <div class="message-container">
        <div class="ppc pointer">
            <img class="contact-pp" [src]="actualPhoto | modifyImage">
            <p>{{ actualName }}</p>
        </div>
        <div class="messages">
            <div class="messages-container">
                <div *ngFor="let message of actualMessages" class="mess" [class.sendit] = "myId == message['idUser']" [class.reciveit] = "myId != message['idUser']">
                    <div class="ms">
                        <p>{{ message['content'] }}</p>
                    </div>
                    <div class="hour-content">
                        <span>{{ message['hour'] }}</span>
                    </div>
                </div>
            </div>
            <div class="send-message pointer">
                <input name="input-message" #inputMessage type="text" placeholder="Escriba un mensaje" class="input-message">
                <button (click) = "sendMessage(inputMessage.value)" class="send-button" >S</button>
            </div>
        </div>
    </div>
</div>