<div class="wrapper fixed-left">
  <div id="content">
    <div style="padding: 0px">
      <div class="card-body p-0">
        <h1>Historial de publicaciones
          <button class="btn btn-primary" style="float: right; margin-bottom: 5px;" (click)="open(contenido)">
            Nueva publicación
          </button>
        </h1>
      </div>
      <hr>
  </div>

    <div *ngIf="publicaciones.length==0" class="d-flex text-align-center" style="font-family: 'Raleway semibold';"> No has realizado ninguna publicación :( </div>
    <div *ngIf="publicaciones.length!=0">
      <div *ngFor="let publicacion of publicaciones" style="float: center; margin-left: 45px; font-family: 'Raleway medium';">
        <div class="card border-primary mb-3 ml-5 mt-2 float-left" style="width: 85%;" *ngIf="publicacion.estado != 'eliminado'">
          <div class="card-body">
            <h2 class="card-title">{{publicacion.titulo}}<p style="float: right; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
              {{publicacion.fechaPublicacion | date:'dd/MM/yyyy'}}</p></h2>
            <p class="card-text">
              {{publicacion.descripcion}}
            </p>
            <div class="d-flex">
              <div style="width: 20px; font-size: 1rem; color:#f17300">
                <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
              </div>
               {{publicacion.ubicacion.ciudad}}, {{publicacion.ubicacion.departamento}}, {{publicacion.ubicacion.pais}}
            </div> <br>
            <p> <strong>{{publicacion.usuarios.length}} Personas interesadas </strong><button class="btn btn-primary" style="float: right;" (click)="viewPost(publicacion._id)" >Ver más</button></p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- Pantalla modal con formulario para crear publicaciones -->
<ng-template #contenido let-modal>
  <div class="modal-header">
    <h2 class="modal-title mb-0">Nueva Publicación</h2>
    <button class="close" aria-label="close" type="button" (click)="modal.dismiss()" (click)="limpiar()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="padding-top: 0px; padding-bottom: 0px;">
    <ngb-alert type="success" *ngIf="successMessage">{{ successfull }}</ngb-alert>
    <form [formGroup]="formPublications" (ngSubmit)="limpiar()">
      <div class="form-group" style="margin-bottom: 0px; padding-bottom: 0px;">
        <p [ngClass]="{'display-block': title}" class="error-message">No se ingreso título, o no es válido</p>
        <label for="inputTitle"></label>
        <input formControlName="title" type="text" class="form-control" id="inputTitle" placeholder="Título" required>
      </div>
      <div class="form-group">
        <p [ngClass]="{'display-block': description}" class="error-message">No se ingreso descripción, o no es válida</p>
        <label for="textareaDescription"></label>
        <textarea formControlName="description" class="form-control" id="textareaDescription" rows="3" placeholder="Descripción" required></textarea>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4" style="padding-top: 2px; margin-bottom: 3px;">
          <p [ngClass]="{'display-block': expirationDate}" class="error-message">Fecha de vencimiento no válida</p>
          <label for="inputCalendar">Fecha de vencimiento</label>
          <input formControlName="expirationDate" type="date" class="form-control" id="inputCalendar" placeholder="Insertar fecha" required>
        </div>
        <div class="form-group col-md-4" style="padding-top: 2px; margin-bottom: 3px;">
          <p [ngClass]="{'display-block': salary}" class="error-message">Ingrese un salario válido</p>
          <label for="inputSalario">Salario</label>
          <input formControlName="salary" type="text" class="form-control" id="inputSalario" required>
        </div>
        <div class="form-group col-md-4" style="margin-bottom: 3px;">
          <p [ngClass]="{'display-block': modality}" class="error-message">Ingrese una modalidad válida</p>
          <label for="inputState">Modalidad</label>
          <select formControlName="modality" id="inputState" class="form-control" [(ngModel)]="isNotSelected" (change)="capturarSelect()" required>
            <option value="1" selected>Presencial</option>
            <option value="2">Semi-virtual</option>
            <option value="3">Virtual</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <p [ngClass]="{'display-block': profession}" class="error-message">No se ingresó una profesión, o no es válida</p>
        <label for="inputProfesion">Profesión</label>
        <input formControlName="profession" type="text" class="form-control" id="inputProfesion" required>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4" style="padding-top: 2px;">
          <p [ngClass]="{'display-block': city}" class="error-message">Ingrese una ciudad válida</p>
          <label for="inputCiudad">Ciudad</label>
          <input formControlName="city" type="text" class="form-control" id="inputCiudad" placeholder="Ciudad" required>
        </div>
        <div class="form-group col-md-4" style="padding-top: 2px;">
          <p [ngClass]="{'display-block': department}" class="error-message">Ingrese un departamento válido</p>
          <label for="inputDepartamento">Departamento</label>
          <input formControlName="department" type="text" class="form-control" id="inputDepartamento" placeholder="Departamento" required>
        </div>
        <div class="form-group col-md-4">
          <p [ngClass]="{'display-block': country}" class="error-message">Ingrese un país válido</p>
          <label for="inputPais">País</label>
          <input formControlName="country" type="text" class="form-control" id="inputPais" placeholder="País" required>
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light mr-2" (click)="modal.close()" (click)="limpiar()">Cancelar</button>
    <button [disabled]="formPublications.invalid" type="submit" class="btn btn-primary" (click)="posting()" (click)="SuccessfullMessage()" (click)="limpiar()">
      Publicar
    </button>
  </div>
</ng-template>

<!-- Método jQuery para "deslizar" el sidebar (debe estar el navbar anterior, no funcionó)
<script>
  $(document).ready(function() {
    $('#sidebarCollapse').on('click', function() {
      $('#sidebar, #content').toggleClass('active');
      $('.collapse.in').toggleClass('in');
      $('a[aria-expanded=true]').attr('aria-expanded', 'false');
      document.getElementById("bodyContent").style.width="100%";
    });
  });
</script>
-->
