<div [ngClass]="{'d-block': regionVisible=='publicaciones', 'd-none': regionVisible != 'publicaciones'}">
<div class="container-lg">
    <div class="mt-4">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-6">
            <h1 *ngIf="mostrar == 'todas'">Historial de publicaciones </h1>
            <h1 *ngIf="mostrar == 'vigentes'">Publicaciones vigentes</h1>
            <h1 *ngIf="mostrar == 'vencidas'">Publicaciones vencidas</h1>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <button class="btn btn-primary"(click)="open(contenido)" [ngClass]="{'d-none' : mostrar != 'todas'}">
              Nueva publicación
            </button>
          </div>
        </div>
      </div>
    </div>
    <hr>
</div>
<div class="container">
      <div class="row">
        <div *ngIf="publicaciones.length==0" class="d-flex" style="font-family: 'Raleway semibold';"> No has realizado ninguna publicación :( </div>
        <div class="col-xl-11 mr-auto ml-auto" *ngIf="publicaciones.length!=0">
          <!-- Historial de publicaciones -->
          <div  *ngIf="mostrar == 'todas'">
            <mat-paginator [length]="publicaciones.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)" showFirstLastButtons></mat-paginator>
            <div *ngFor="let publicacion of publicaciones | pagination:page_size:page_number">
            <div class="card mb-2 mt-2" *ngIf="publicacion.estado != 'eliminado'">
              <div class="card-body">
                <h2 class="card-title">{{publicacion.titulo}}<p style="float: right; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                  {{publicacion.fechaPublicacion | date:'dd/MM/yyyy'}}</p></h2>
                <p class="card-text">
                  {{publicacion.descripcion}}
                </p>
                <div class="d-flex">
                  <div style="width: 20px; font-size: 1rem; color:#f17300">
                    <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                  </div>
                   {{publicacion.ubicacion.ciudad}}, {{publicacion.ubicacion.departamento}}, {{publicacion.ubicacion.pais}}
                </div> <br>
                <p> <strong>{{publicacion.usuarios.length}} Personas interesadas </strong><button class="btn btn-primary" style="float: right;" (click)="viewPost(publicacion._id)" >Ver más</button></p>
              </div>
            </div>
            </div>
          </div>
          <!-- Publicaciones vigentes -->
          <div  *ngIf="mostrar == 'vigentes'">
            <div *ngIf="publicacionesVigentes==0" class="text-center" style="font-family: 'Raleway semibold';">
              No tienes publicaciones vigentes
            </div>
            <div *ngIf="publicacionesVigentes.length!=0">
            <mat-paginator [length]="publicacionesVigentes.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)" showFirstLastButtons></mat-paginator>
            <div *ngFor="let publicacion of publicacionesVigentes | pagination:page_size:page_number">
            <div class="card mb-2 mt-2">
              <div class="card-body">
                <h2 class="card-title">{{publicacion.titulo}}<p style="float: right; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                  {{publicacion.fechaPublicacion | date:'dd/MM/yyyy'}}</p></h2>
                <p class="card-text">
                  {{publicacion.descripcion}}
                </p>
                <div class="d-flex">
                  <div style="width: 20px; font-size: 1rem; color:#f17300">
                    <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                  </div>
                   {{publicacion.ubicacion.ciudad}}, {{publicacion.ubicacion.departamento}}, {{publicacion.ubicacion.pais}}
                </div> <br>
                <p> <strong>{{publicacion.usuarios.length}} Personas interesadas </strong><button class="btn btn-primary" style="float: right;" (click)="viewPost(publicacion._id)" >Ver más</button></p>
              </div>
            </div>
            </div>
          </div>
          </div>
          <!-- Publicaciones vencidas -->
          <div  *ngIf="mostrar == 'vencidas'">
            <div *ngIf="publicacionesVencidas==0" class="text-center" style="font-family: 'Raleway semibold';">
              No tienes publicaciones vencidas
            </div>
            <div *ngIf="publicacionesVencidas.length!=0">
            <mat-paginator [length]="publicacionesVencidas.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)" showFirstLastButtons></mat-paginator>
            <div *ngFor="let publicacion of publicacionesVencidas | pagination:page_size:page_number">
            <div class="card mb-2 mt-2">
              <div class="card-body">
                <h2 class="card-title">{{publicacion.titulo}}<p style="float: right; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                  {{publicacion.fechaPublicacion | date:'dd/MM/yyyy'}}</p></h2>
                <p class="card-text">
                  {{publicacion.descripcion}}
                </p>
                <div class="d-flex">
                  <div style="width: 20px; font-size: 1rem; color:#f17300">
                    <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                  </div>
                   {{publicacion.ubicacion.ciudad}}, {{publicacion.ubicacion.departamento}}, {{publicacion.ubicacion.pais}}
                </div> <br>
                <p> <strong>{{publicacion.usuarios.length}} Personas interesadas </strong><button class="btn btn-primary" style="float: right;" (click)="viewPost(publicacion._id)" >Ver más</button></p>
              </div>
            </div>
            </div>
          </div>
          </div>
        </div>
      </div>
</div>
</div>
<div [ngClass]="{'d-block': regionVisible=='contratados', 'd-none': regionVisible != 'contratados'}">
  <div class="container-lg mt-4">
    <div class="row">
      <div class="col-12">
        <h1>Personas contratadas</h1>
      </div>
      
    </div>
    <hr>
  </div>
  <div class="container-lg">
    <div class="row">
      <div class="col-12 text-center" *ngIf="this.publicacionesContrato.length == 0">
        Aún no has contratado a nadie
      </div>
    </div>
      <div class="row" *ngIf="this.publicacionesContrato.length!=0 && regionVisible=='contratados'">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-2 mt-2" *ngFor="let post of publicacionesContrato">
          <div class="card">
            <div class="d-flex">
              <div class="col-xl-4 col-5 mt-4 mb-4 ml-auto mr-auto">
                <img [src]="'http://localhost:3000/'+post?.user?.fotoPerfil" alt=""  style="border-radius: 50%; height: 150px; width: 150px; padding:0px">
              </div>
              <div class="col-xl-8 col-7 mt-auto mb-auto ml-2 mr-2" style="font-family: 'Raleway semibold';">
                <h3>
                  {{post?.user?.nombreCompleto}}
                </h3>
                <p class="mt-2">Para publicación <br> <span style="font-family: 'Raleway bold'">{{post?.titulo}}</span> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
     
</div>

<!-- Pantalla modal con formulario para crear publicaciones -->
<ng-template #contenido let-modal>
  <div class="modal-header">
    <h2 class="modal-title mb-0">Nueva Publicación</h2>
    <button class="close" aria-label="close" type="button" (click)="modal.dismiss()" (click)="limpiar()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="!verifiedAccount">
    <div class="text-align" style="font-family: 'Raleway medium';">
      Es necesario que tu cuenta esté verificada antes de poder realizar publicaciones de trabajo.<br> Hemos enviado el enlace para verificar tu cuenta a tu correo electrónico
    </div>
  </div>
  <div class="modal-body" style="padding-top: 0px; padding-bottom: 0px;" *ngIf="verifiedAccount">
    <ngb-alert type="success" class="mt-1" *ngIf="successMessage">{{ successfull }}</ngb-alert>
    <form [formGroup]="formPublications" (ngSubmit)="limpiar()">
      <div class="form-group" style="margin-bottom: 0px; padding-bottom: 0px;">
        <p [ngClass]="{'display-block': title}" class="error-message">No se ingreso título, o no es válido</p>
        <label for="inputTitle"></label>
        <input formControlName="title" type="text" class="form-control" id="inputTitle" placeholder="Título" required>
      </div>
      <div class="form-group">
        <p [ngClass]="{'display-block': description}" class="error-message">No se ingreso descripción, o no es válida</p>
        <label for="textareaDescription"></label>
        <textarea formControlName="description" class="form-control" id="textareaDescription" rows="3" placeholder="Descripción" required></textarea>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4" style="padding-top: 2px; margin-bottom: 3px;">
          <p [ngClass]="{'display-block': expirationDate}" class="error-message">Fecha de vencimiento no válida</p>
          <label for="inputCalendar">Fecha de vencimiento</label>
          <input formControlName="expirationDate" type="date" class="form-control" id="inputCalendar" [min]="dateToday | date:'yyyy-MM-dd'" placeholder="Insertar fecha" required>
        </div>
        <div class="form-group col-md-4" style="padding-top: 2px; margin-bottom: 3px;">
          <p [ngClass]="{'display-block': salary}" class="error-message">Ingrese un salario válido</p>
          <label for="inputSalario">Salario</label>
          <input formControlName="salary" type="text" class="form-control" id="inputSalario" required>
        </div>
        <div class="form-group col-md-4" style="margin-bottom: 3px;">
          <p [ngClass]="{'display-block': modality}" class="error-message">Ingrese una modalidad válida</p>
          <label for="inputState">Modalidad</label>
          <select formControlName="modality" id="inputState" class="form-control" [(ngModel)]="isNotSelected" (change)="capturarSelect()" required>
            <option value="1" selected>Presencial</option>
            <option value="2">Semi-virtual</option>
            <option value="3">Virtual</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <p [ngClass]="{'display-block': profession}" class="error-message">No se ingresó una profesión, o no es válida</p>
        <label for="inputProfesion">Profesión</label>
        <input formControlName="profession" type="text" class="form-control" id="inputProfesion" required>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4" style="padding-top: 2px;">
          <p [ngClass]="{'display-block': city}" class="error-message">Ingrese una ciudad válida</p>
          <label for="inputCiudad">Ciudad</label>
          <input formControlName="city" type="text" class="form-control" id="inputCiudad" placeholder="Ciudad" required>
        </div>
        <div class="form-group col-md-4" style="padding-top: 2px;">
          <p [ngClass]="{'display-block': department}" class="error-message">Ingrese un departamento válido</p>
          <label for="inputDepartamento">Departamento</label>
          <input formControlName="department" type="text" class="form-control" id="inputDepartamento" placeholder="Departamento" required>
        </div>
        <div class="form-group col-md-4">
          <p [ngClass]="{'display-block': country}" class="error-message">Ingrese un país válido</p>
          <label for="inputPais">País</label>
          <input formControlName="country" type="text" class="form-control" id="inputPais" placeholder="País" required>
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button [disabled]="formPublications.invalid" type="submit" class="btn btn-primary" (click)="posting()" (click)="SuccessfullMessage()" (click)="limpiar()">      
      Publicar
    </button>
    <button type="button" class="btn btn-outline-danger mr-2" (click)="modal.close()" (click)="limpiar()">Cancelar</button>

  </div>
</ng-template>

